[2014-08-25 18:44] bennofs opened #16 "Switch parser library to megaparsec"
The parser is currently quite slow compared to the C parser:

[code]

compare that to hnix:

[code]

I don't know how to improve performance though.

[2014-09-30 04:24] Fuuzetsu opened #18 "Expose lexer + keep token sizes"
Text editors could benefit from the hnix lexer but it seems only the parser is exposed which is much less useful for things like syntax-highlighting in classical editing scenario. It'd be great if the lexer was exposed and if it carried token sizes/locations.

[2014-09-30 14:45] jwiegley commented on #18
@Fuuzetsu Excellent idea, let's do that.

[2015-06-23 19:52] adnelson opened #21 "Hnix on hackage?"
Is there a reason hnix isn't on Hackage? I just switched it in as a dependency for a project that I have but realized that my package won't be able to be built on hackage because hnix isn't there.

[2015-06-23 21:47] jwiegley commented on #21
No reason, actually. I'll upload it now.

[2015-06-23 21:51] jwiegley commented on #21
http://hackage.haskell.org/package/hnix

[2015-06-23 21:51] #21 closed, assigned to nobody

[2015-06-23 21:55] adnelson commented on #21
Yay!

[2015-06-23 22:24] adnelson opened #23 "Variadic functions don't parse"
Hnix doesn't currently parse variadic (`...`) arguments:

[code]

Also this isn't represented in the AST. This is the way that `simple-nix` encapsulates this:

[code]

Where the boolean indicates if it's variadic, and the `Maybe Name` indicates whether it has an `@`. I think it might be sufficient to modify the `FormalParamSet` type to add a flag indicating if it's variadic or not, and add machine

[2015-06-23 22:36] jwiegley commented on #23
Sounds good @adnelson.

[2015-06-24 03:27] #23 closed, assigned to nobody

[2015-06-24 10:24] peti opened #25 "hnix-0.2.0 fails its test suite"
Citing from http://hydra.cryp.to/build/945583/nixlog/1/raw:

[code]

I suppose that data file is missing from the release tarball.

[2015-07-23 02:25] jwiegley commented on #25
I've pushed 0.2.1 that includes the necessary data files.

[2015-10-23 14:26] #25 closed, assigned to nobody

[2016-02-26 21:50] Mathnerd314 commented on #16
Happy is much closer to the Bison parser that Nix uses, and probably of comparable speed. Does anyone mind if I switch hnix away from trifecta/parsec?

[2016-02-27 00:26] jwiegley commented on #16
I do.  We just need to optimize the present parser.  I think many more people are comfortable with reading and editing Parsec, than they are using Happy.  So, for a speed gain, we'd reduce our pool of candidate contributors. I'm pretty sure we can get there with Trifecta, we probably just have some nasty backtracking happening in a few key places.

[2016-02-27 00:36] Mathnerd314 commented on #16
Hmm. Well, I for one am not sure how to get Parsec/Trifecta to parse the `let-body` syntax:
`let { a = 1; body = 2; }`
This is a perfectly fine Nix expression, but HNix expects it to be of the form `let { ... } in ...`.

Happy has a GLR mode which seems to be working, although it is proving difficult to integrate it with the rest of hnix.

[2016-03-09 21:21] cstrahan commented on #16
Wow, I didn't know that was legal syntax. Crazy.

[2016-03-11 00:45] cstrahan opened #33 "Make parse round-trip-able"
There are a number of tools (including one I desperately need to write) that would require the ability to parse a nix expression, transform it in some way, and then write the expression back out - all while keeping unmodified portions unchanged in the output.

I could take a stab at this, but I think I might need some hints/help.

[2016-03-11 00:58] jwiegley commented on #33
That's a great idea @cstrahan.  You'll need to plumb attributes through the syntax tree that preserve knowledge like surrounding whitespace, etc.  This part should be fairly easy, since we're using a `Free` representation.

Then, in the evaluator, you only need to preserve the attributes over any transformation (they would be abstract in that case). In the pretty printer, it would use the attribut

[2016-03-11 03:22] cstrahan commented on #33
@jwiegley I don't think trailing white space matters as much, so perhaps just tracking source spans would be sufficient (ala `haskell-src-exts`)?

If so, do you suppose I should add a monomorphic field (e.g. `SrcSpan`) to each construct? `haskell-src-exts` uses a polymorphic field in their annotated AST, but I don't know if we'd benefit from going that route.

[2016-03-11 05:39] jwiegley commented on #33
You shouldn't need to change the AST at all, but just change the `Free` type synonym.

[2016-03-11 07:08] cstrahan commented on #33
Do you mean the `Fix` synonym? (grepping for `Free` doesn't turn up anything)

Are you suggesting something like this?

[code]

[2016-03-11 19:35] jwiegley commented on #33
Oh yeah, sorry, `Fix`.  And yes, what you pasted is exactly what I had meant.  That will give you an annotation at every level of the resulting tree.

[2016-06-21 19:30] expipiplus1 opened #34 "Add link to hackage on github repo."
It would be nice to have a link to the hackage contents page where 'No description or website provided.' is now.

[2016-06-21 19:58] jwiegley commented on #34
Done.  Thank you for the suggestion.

[2016-06-21 19:58] #34 closed, assigned to nobody

[2016-06-23 22:58] expipiplus1 commented on #33
I've started working towards this in #35

[2016-06-25 18:24] expipiplus1 commented on #18
This has been brought up in #35 as a possible improvement to that PR.

[2016-06-25 18:25] expipiplus1 opened #36 "Documentation for Nix.Eval"
It would be nice to have some documentation and maybe an example of how to use `Nix.Eval`

[2016-07-18 17:53] jwiegley commented on #33
@cstrahan We've now merged @expipiplus1 's work, does this help you in building your tools?

[2016-07-18 17:55] cstrahan commented on #33
@jwiegley I believe so, although I've shelved that work for the time being. Thanks!

[2016-07-18 17:55] #33 closed, assigned to nobody

[2016-07-21 12:51] expipiplus1 commented on #33
For an example of this being used you can take a look here: https://github.com/expipiplus1/update-nix-fetchgit

This doens't do a round trip though, It uses the source locations to modify the underlying string.

[2016-07-26 05:36] DavidEGrayson opened #39 "Error building with GHC 8.0.1: showsPrec1 not visible"
I get this error when building the latest version of hnix from the master branch of this repository (commit e2b80391bb731c80995a3a7f2dc0df6685c643c6) with GHC 8.0.1 on the Nix unstable channel:

[code]

Here is a full shell session showing how I attempted to build this library and how I got that error message:

[code]

Pinging @expipiplus1 because he has contributed to this library recently.

[2016-07-26 08:17] expipiplus1 commented on #39
Yeah, there's been a little bit of motion around `Show1`. I don't think it's possible to automatically derive instances in ghc 8 at the moment, and writing them by hand is a huge boilerplate pain. It's possible that things have moved on since I last checked; I'll do some investigating.

[2016-07-26 14:21] ryantm commented on #39
Looks like there is some template haskell compatibility library for deriving Show1: http://hackage.haskell.org/package/deriving-compat-0.3/docs/Text-Show-Deriving.html

[2016-09-12 17:18] langston-barrett opened #40 "Use Either instead of Result"
Is there any reason in particular to define

[code]

with constructors

[code]

Rather than use `Either Doc a`?

[2016-09-12 17:27] jwiegley commented on #40
I wonder if there was in the past, but it doesn't sound like there should be one.

[2016-09-23 18:24] aljce opened #43 "3.2 On Hackage"
Is there a reason you are keeping version 3 off hackage. I would love to not have to pull it in with git!

[2016-10-03 17:05] jwiegley commented on #43
Uploaded.

[2016-10-03 17:05] #43 closed, assigned to nobody

[2016-10-09 22:11] mdorman opened #44 "hnix.cabal lacks listing for EvalTests.hs"
As a result the test suite fails, as seen in [this nix build log](http://hydra.nixos.org/build/41839329/nixlog/1/raw).

[2016-10-18 04:56] jwiegley commented on #44
Done.

[2016-10-18 04:56] #44 closed, assigned to nobody

[2016-10-27 12:28] expipiplus1 opened #47 "Fails to compile with ghc 8.0.2 (due to a ghc bug with some trifecta code)"
See https://github.com/ekmett/trifecta/issues/66

This could be kept open until trifecta is fixed in case anyone else runs into this issue.

[2016-12-18 14:46] angerman opened #48 "License confusion?"
Out of curiosity I followed the nix expressions and ended up in `project.nix`, which specifies BSD3, and so does the `.cabal` file, which even points to LICENSE. That file though seems to be MIT, which is also what github thinks this is licensed under.

Just thought I'd leave a note here.

[2016-12-19 01:10] jwiegley commented on #48
Thank you for reporting this, I've updated the LICENSE file to BSD3.

[2016-12-19 01:10] #48 closed, assigned to nobody

[2016-12-21 05:24] steshaw commented on #16
The performance with respect to the C parser seems to have improved:

[code]

[code]

Are further improvements expected?

[2016-12-21 05:27] jwiegley commented on #16
I certainly hope so; an order of magnitude seems a bit excessive to me.  I'm not sure a proper review has been done of the back-tracking in `hnix`.  This should be much easier now with my `parsec-free` library, since the evaluator can be tailored to report all backtracking.

[2016-12-21 05:36] steshaw commented on #16
@jwiegley sounds interesting. How would I tailor `parsec-free` to report the backtracking?

[2016-12-21 05:50] jwiegley commented on #16
You'll need to switch over to using `parsec`, which I believe is still just a matter of a flag (unless that has changed since I last looked at the parser).  Then change the dependency from `parsec` to `parsec-free`.  Check out the dump and look for invocations of `try`, or edit the evaluator in `Parsec.Text.Free.Eval` and modify it to print whenever a backtracking parse is attempted (you can even

[2016-12-21 05:52] jwiegley commented on #16
Oh, and to get a dump, you'll need to use `parseTestLog`.  See the `README` for more details.

[2016-12-21 05:58] steshaw commented on #16
Thanks, @jwiegley. Things don't quite compile with `-fparsec` at the moment as there's an unexpected dependency on Trifecta.Delta for `position`. I've cobbled something together though that compiles (and doesn't `error` at runtime).

I'll try switching to `parsec-free` and `parseTestLog` and see how things go!

[2016-12-21 08:42] steshaw commented on #16
I managed to get something working with `parsec-free`. I've run the the result on `simple-pretty.nix`, the output can be found [in this gist](https://gist.github.com/steshaw/e7e4eab3c4fa858ed0a08227b7877f08). I don't rightly understand the output but I hope it's helpful (Warning: it's very long). How _do_ you identify backtracking with `parsec-free`? Is it the bracketed nodes?

The code is a hack.

[2016-12-21 17:28] jwiegley commented on #16
The nodes in parentheses represents failed parsing attempts, where the failure *did not consume input*. Only `try` rewinds the current position on failure, so any non-try failures mean it aborted simply by testing the current token. However, it does mean that a lot of unnecessary tests happened, depending on how deep the failure tree is.

For this very simple example there are 1,482 failed `try` a

[2017-01-30 22:09] ixmatus opened #50 "Bash variables within multiline strings are quoted and in some cases stripped out with two single quotes"
I discovered this running my `nixfmt` utility that uses `hnix` on a somewhat complicated Nix expression file.

Input:
[code]

Output:
[code]

Also of interest, when I format a simple set with a multiline string and bash var in it, it gets stripped:

[code]

[2017-02-07 16:42] expipiplus1 commented on #47
trifecta is fixed.

[2017-02-07 16:42] #47 closed, assigned to nobody

[2017-03-10 22:14] jwiegley opened #51 "Use PatternSynonyms to make pattern matching more convenient"
For example:

[code]

This will avoid having `Fix` show up in places where it should really be an implementation detail, and not the client's concern.

[2017-03-10 22:17] jwiegley opened #52 "Finish a QuasiQuoter for Nix expressions"
The basic quasi-quoter is in place now, just import `Nix.TH`, turn on `QuasiQuotes` and `TemplateHaskell`, and then use `[nix| 2 + 3|]`, which will parse that text into a value of type `NExpr`, exactly as `parseNixString` would.

There are a few next steps for this work to make it more useful:

 - [ ] In `Nix.TH`, write an evaluation pass to determine the free variables in a Nix expression, so the

[2017-03-31 03:47] matthewbauer opened #53 "x/* comment */ throws off parser"
"all-packages.nix" currently has this edge case:

[code]

Nix understands this as a comment but hnix wants to turn it into a division operation, giving:

[code]

[2017-04-19 05:17] Profpatsch opened #55 "improve mkDot/(!.) to automatically quote"
[code]

Not sure whether the dependency on TDFA is okay with you, but I think not auto-quoting if some contents are not valid symbol chars is never right.
It can probably be replaced by a manual char match function pretty easily.

Of course `mkDots` would have to be changed as well.

[2017-04-19 09:26] jwiegley commented on #55
I wouldn't mind the dependency.

[2017-04-21 18:31] #55 closed, assigned to nobody

[2017-05-15 11:04] Profpatsch opened #57 "Comment constructor"
As far as I can see, there is no way to represent comments in the AST at the moment.

Since I’m generating files that should be human-readable as well, it would be nice to have them (only line comments as far as I’m concerned, but inline/block comments are probably a good idea as well).

[2017-05-15 14:55] jwiegley commented on #57
You'll probably need to add that support by using an annotated AST (there's a file for supplying annotation in the repository).

[2017-05-16 11:52] Profpatsch commented on #57
So the parser just skips comments right now?

[2017-05-20 18:06] Fuuzetsu opened #58 "string pretty printer escapes `$` when it's not desired"
[code]
produces

[code]

There seems to be no work-around as similar issue happens with `mkStr` too. What's the intended way to generate strings that point at variables at run-time?

[2017-05-20 18:10] bennofs commented on #58
[code]

They seem to evaluate to the same thing?

[2017-05-20 18:20] Fuuzetsu commented on #58
Hm, interesting. I wrote a work-around in meantime for my use-case but maybe it wasn't needed.

[code]

[code]
[code]

@bennofs there is still a bug here however

[code]

[2017-05-20 18:36] bennofs commented on #58
@Fuuzetsu I don't think this is a bug. What you pass to `mkStr` is a plain string, so every nix special char should be escaped. The correct expression for an interpolated string would be something like this:

[code]

[2017-05-20 19:01] Fuuzetsu commented on #58
@bennofs the documentation for neither mkStr nor mkIndentedStr suggest this so at very least it's a documentation bug, do you agree?

[2017-05-20 19:17] bennofs commented on #58
@Fuuzetsu it doesn't suggest that it magically parses variables out of the supplied string literal and interpolates them either. Probably doesn't hurt to add, though.

[2017-05-28 03:56] jwiegley commented on #57
Yes, I believe so. I'm not sure if the annotated parser also does, though.

[2017-06-01 08:07] domenkozar commented on #16
Current status:

[code]

[2017-06-01 08:11] domenkozar opened #60 "Parser breaks on overridden builtins"
[code]

[2017-06-01 09:00] domenkozar opened #61 "Parser breaks on "letter or digit""
[code]

[2017-06-01 09:01] domenkozar opened #62 "Parser breaks on EOF (end of comment)"
[code]

[2017-06-02 21:43] jwiegley commented on #16
Yeah, that kind of slow-down is really not acceptable.

[2017-06-02 21:43] jwiegley commented on #60
Thanks for all of these reports, @domenkozar! We can turn them all into tests.

[2017-06-13 13:53] domenkozar commented on #60
Indeed :) I went through all nix files in nixpkgs to see how many times `hnix` chokes. So, 4 bugs left :)

[2017-06-27 11:43] domenkozar commented on #57
I'm out of time these days, but can Ichip-in or help otherwise to make this happen?

This would be ground work for declarative documentation in Nix, to generate docs from the source code.

[2017-06-28 04:32] Profpatsch commented on #57
Right now, comments are skipped in the lexer: https://hackage.haskell.org/package/hnix-0.3.4/docs/src/Nix-Parser-Library.html#commentStyle, with [`CommentStyle`](https://hackage.haskell.org/package/parsers-0.12.5/docs/Text-Parser-Token-Style.html#v:CommentStyle).

Comments are tricky:

[code]

Comments seem to be completely removed in the lexer phase, stuff like
[code]
parses into `{ foo = "23"; }

[2017-06-28 17:09] Profpatsch commented on #57
I thought about it a bit more.
It doesn’t make very much sense to add comments to `NExprF` because they are on the lexer level and should probably be added to the annotations:

[code]

Comments are parsed out into a list containing their contents & `SrcSpan`s. Then a second pass can be used to convert this annotation to docstrings (by some more elaborate rules, like looking at the placement of com

[2017-09-13 10:25] mdorman opened #63 "Doesn't work with data-fix-0.0.7"
To be clear, I do not in any way, shape or form understand this failure.

With version 0.0.7 of the `data-fix` package, `hnix` fails to build its tests with the following error:
[code]
On the other hand, with version 0.0.4, it builds fine.

The part that I find baffling is that the only difference between those versions would appear to be:
[code]

[2017-09-13 10:30] mdorman commented on #63
Just as a note, I'm building on nixos, synced to roughly the latest commit.  The command I used to run the build was `nix-build --no-build-output --attr haskellPackages.hnix ~/src/nixpkgs`.  When I started getting the error, I bisected to the change that updated `data-fix`, backed out that one single update to the `haskellPackages` set, and it built again.

[2017-09-13 20:46] Profpatsch commented on #63
Here’s the whole change:

![screenshot](https://user-images.githubusercontent.com/3153638/30399819-42076eaa-98d5-11e7-8f81-0b79dac60188.png)

Probably something in `base` or `tasty-hunit` changed.

[2017-09-13 20:49] Profpatsch commented on #63
Oh, @jwiegley, `0.3.4` was uploaded a few days ago, but the last commit on github is from May?! (Curse hackage being unaware of the source code repo.)

[2017-09-13 20:54] anton-k commented on #63
Hi! i'm the author of data-fix. Unfortunately it doesn't compile with the latest ghc. There are some incompatible changes regarding instances of Eq vs Eq1 and Ord vs Ord1. I don't completely understand them right now, but if my package causing any trouble I'm willing to learn and cooperate :)

[2017-09-13 20:56] anton-k commented on #63
There was a PR that proposed the updates. I have accpeted it. It's data-fix-0.6 but then I've reverted it in 0.7 since some of my libraries doesn't work well with it. Maybe I need to update the libraries also and keep the change to make your packages compile!

Can you try out the data-fix-0.0.6. Does it work for you?

[2017-09-13 20:57] anton-k commented on #63
The 0.0.7 is exactly as 0.0.4

[2017-09-13 21:05] mdorman commented on #63
@Profpatsch It's not one of the deps, because I can add a `data-fix_0_0_4` expression, point `hnix` to that expression and it works---so that's definitely the source of the issue.

@anton-k I don't quite understand the nature of the failure myself---I hope to do a little investigation, but I'm hardly an expert.  I do wonder if the change in the haskell version is actually the issue?

[2017-09-13 21:05] Profpatsch commented on #63
With `0.0.6`, the error is the same:

[code]

The corresponding failing function is:

[code]

I’m on the latest nixpkgs master with [these haskell packages](https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/haskell-modules/hackage-packages.nix). `hnix` is checked out from the github master.

[2017-09-13 21:13] Profpatsch commented on #63
Update: can confirm that it works with `0.0.4` and hnix `0.3.4`. But not with `0.0.6` <s>or `0.0.7`</s>.

[2017-09-22 22:06] jwiegley commented on #63
@Profpatsch Do you recommend setting an upper bound, or does it now work with 0.0.7?

[2017-09-23 22:57] Profpatsch commented on #63
Yes, it works with `0.0.7`. So a lower bound on `0.0.7` might be sensible, or an exclusion of `0.0.6`.

Based on my input, the author bumped the version to `0.2.0`, so they can indicate non-API-breaking changes.

[2017-09-24 23:03] jwiegley commented on #63
OK, I've changed the latest version of `hnix` to depend on at least 0.0.7 of `data-fix`.

[2017-09-24 23:03] #63 closed, assigned to nobody

[2017-10-12 09:33] rickynils opened #65 "Tests do not compile with data-fix 0.0.6"
It looks like the `data-fix` bound needs to be set to `>= 0.0.7`. With `data-fix 0.0.6` I get the following build error:

[code]

[2017-10-12 17:25] jwiegley commented on #65
It is set to `>= 0.0.7` now.

[2017-10-12 17:25] #65 closed, assigned to nobody

[2017-11-17 03:35] ryantm opened #67 "evaluating simple nix expression with empty set has MVar deadlock"
Hi.

I really don't know what I'm doing with this library. I passed a NVSet into evalExpr with a pretty simple expression and got a MVar deadlock.

Here is the program:

[code]

It outputs:

[code]

Thanks,
Ryan

[2017-11-26 19:35] jwiegley opened #68 "Create a FUSE binding to represent attr trees as filesystems"
This would allow you to use regular directory browsing utilities to descend into `<nixpkgs>`, peek at the values of attributes, see limited metadata about them (like size), etc.  You could search for packages using just GNU find, count attributes containing a value (since the contents would all be post evaluation, not pre).

[2017-12-16 01:38] Profpatsch opened #70 "New release (0.4)?"
There have been a few changes, so maybe it’s time for another release!

A new major version is needed, because the [license changed](https://github.com/jwiegley/hnix/commit/07e9e66bf7169c4e8d34d0bf6dadc3cb7d6f0390).
The [commit implementing `NEnvPath`](https://github.com/jwiegley/hnix/commit/bd39df38b6835cc7a43cf7c72d5c4fc912f9637c) also leads to changes that might surprise some people.

Changelog

[2018-01-22 20:40] jwiegley commented on #70
Current master (054eb3c) uploaded to Hackage as 0.4.

[2018-01-22 20:40] #70 closed, assigned to nobody

[2018-01-23 23:58] jwiegley opened #75 "Problem with evaluation abstractions"
This is needed by @ryantrinkle.

https://github.com/jwiegley/hnix/blob/master/Nix/Eval.hs#L193

[2018-02-13 14:54] madjar commented on #75
Progress report: I've been working on this for a few weeks.

The core idea is to change NVFunction to
[code]

This allows to pass the argumentset to itself at application time, to evaluate default values.

The current status is that is works when evaluated in `Identity`, but freezes (maybe with an infinite loop?) in `IO`. I still have to trace stuff to figure out what's happening here.

If anybody

[2018-02-13 20:39] jwiegley commented on #75
@madjar Which test are you using to reproduce the freeze?

[2018-02-14 10:34] madjar commented on #75
@jwiegley I added a small reproducing example (in the middle in Eval.hs, to make debugging easier :))

[code]

`goevalId` returns `(NVConstant (NInt 2)))`, `goevalIO` freezes.

[2018-02-28 18:54] madjar commented on #67
I spend quite some time thinking about this, and here is my current understanding. Please note that I'm not quite sure, and that it might be a bit unclear, but the partial understanding is still worth sharing.

The code for the evaluation for the `let` looks like this:
[code]
We use `evalBinds` to turn actually evaluate the bindings given an environment. But to allow to use one of the bindings in

[2018-03-05 23:37] deepfire opened #93 "`true` token a mis-parse: parsing Nixpkgs"
[code]

More specifically:

[code]

[2018-03-06 01:04] deepfire commented on #93
Also, interestingly (despite both `true`/`false` and `assert` being `reserve` tokens):
[code]

[2018-03-06 04:19] #93 closed, assigned to nobody

[2018-03-12 00:03] jwiegley commented on #75
@madjar I've looked at this with @ryantrinkle, and it looks like we're running into a problem with laziness.  It works with Identity, because nothing is getting forced, and it just so happens then that Nix's laziness gets implemented by Haskell's own laziness.

In IO, however, there are strict evaluation boundaries, which violate Nix's laziness, resulting in cycles that can't be broken, hence the

[2018-03-12 13:58] madjar commented on #75
@jwiegley I've reached a similar conclusion (though not as articulate, as you can see here: https://github.com/jwiegley/hnix/issues/67#issuecomment-369343772).

I guess I started working on something along the lines of what you describe, replacing `ValueSet` with `type Environment m = Text -> m (Maybe (NValue m))` (which is equivalent to `Map Text (m (NValue m))`, except you can't list keys ; see

[2018-03-13 04:04] Ericson2314 commented on #75
Could we interleave the Monad into the value type, and then do `pure . unsafePerformIO` in the IO case to continue leveraging built-in laziness in all cases?

(On can also manually write something like `pure . unsafePerformIO` but merging the returned inner state token instead of dropping it which might help maintain the order of effects.)

[2018-03-13 12:26] ryantrinkle commented on #75
I think that might be very hard to extend to other monads (e.g.
transformers over io)

On Tue, Mar 13, 2018, 00:04 John Ericson <notifications@github.com> wrote:

[2018-03-19 09:32] madjar commented on #75
Progress report: I tried going with the `NVThunk` idea, but I kind of reached a wall. I'm not sure I quite groked it, and I'd love some hints on where `NVThunk` would actually fit.

[2018-03-24 22:40] jwiegley commented on #75
I'll need to carve some time to check this out. Basically we want to do a sort of Löb transform: instead of seeing attribute sets as mappings of the type `Map Key Value`, they are really mappings from keys to functions, of type `Map Key (Map Key Value -> Value)`.  If `NVThunk` were a kind of Value, then we'd be building a thunk that references the parent map, allowing us to return back to `Map Key

[2018-03-25 20:31] mdorman opened #98 "deriving-compat dependency can be bumped"
Ran into this in nix---`deriving-compat` is now 0.4.1, which appears to work fine.

[2018-03-27 21:28] #98 closed, assigned to nobody

[2018-03-28 21:54] jwiegley commented on #75
OK! This is finally fixed, and in the right way (not by avoiding IO, since that made supporting `import` in a principled way unpleasant).

The crux of the problem we were having can be demonstrated by this test case:

[code]

If you remove the "before" trace, it works; if you leave it in, it dies. The reason here is what we had suspected before: monadic binds introduce sequence points. In order fo

[2018-03-28 23:51] jwiegley commented on #75
Note that this exact same issue is currently plaguing all the other uses of `rec` in `Eval.hs` too, which can probably be resolved in a similar way. This is causing, for example, this test to fail:

[code]

[2018-03-29 00:43] jwiegley commented on #75
OK, that last problem should be sorted now as well, by the same approach.

[2018-03-29 06:55] jwiegley commented on #75
I was able to remove the need for `MonadFix` entirely, using just `loeb` when recursive references are desired, and I've deferred management of the "scope stack" to the `MonadNix` instances, rather than dealing with it explicitly in the evaluator. At the moment it's implemented by merging maps, but we should move to a more efficient method since the depth will never be all that large, but the numb

[2018-03-29 19:34] jwiegley opened #100 "Add a thunking mechanism"
@madjar @ryantrinkle It looks like we're going to need a thunking mechanism, now that we have some actual effects. Consider this example:

[code]

The file `hello.nix` here gets re-imported 8 times during evaluation, because we store the *action* in some contexts, and the results of the action in other contexts, without determining what is actually needed and what has already been demanded.

I've

[2018-03-29 22:37] jwiegley commented on #100
We now have thunks and proper non-concurrent laziness, which causes the `q` import above to be executed exactly twice, and the other import not at all.

We'll need to move to a model that uses two IORefs in order to support laziness in the presence of concurrent evaluation. Thanks to @tgiannak for cluing me into this.

[2018-03-29 23:55] jwiegley opened #102 "Support informative error traces"
We have three different phases that might come into play during parsing and evaluation:

 1. Parsing the file
 2. Evaluating the expression to a thunk (recursive, and done for the whole tree)
 3. Forcing a thunk to a value  (recursive, done by demand)

Due to the behavior of `import`, it's possible that we might parse a file while evaluating an expression.

I'd like, if any sort of error occurs, t

[2018-03-29 23:57] jwiegley opened #103 "Create a linting module"
There is a `checkExpr` right now that does little else but check the available of names in lexical scopes. It would be nice to change this into a full-blown linter that would try to evaluate all possible code paths (symbolically) in a Nix expression, to check for potential errors.

[2018-03-30 00:00] jwiegley commented on #100
The import should only be executed once.

[2018-03-30 00:31] ryantrinkle opened #104 "Lexical scoping takes precedence over `with`"
in [eval-okay-with.nix](data/nix/tests/lang/eval-okay-with.nix), we currently look up variables in the nearest enclosing scope, regardless of whether it is a `with` scope or a lexical scope.  Instead, we should only use the `with` scope if a lexical lookup fails.

[2018-03-30 01:14] #104 closed, assigned to nobody

[2018-03-30 01:15] jwiegley commented on #104
Related part of the Nix manual:

    let a = 3; in with { a = 1; }; let a = 4; in with { a = 2; }; ...

    let a = 1; in let a = 2; in let a = 3; in let a = 4; in ...

[2018-03-30 08:14] jwiegley commented on #100
This now only evaluates it when truly necessary.

[2018-03-30 08:14] #100 closed, assigned to nobody

[2018-03-30 20:21] jwiegley commented on #39
I think I'm willing to abandon support for 8.0.

[2018-03-30 20:22] jwiegley commented on #40
It's there to support Parsec, since this is the value Trifecta returns.

[2018-03-30 20:22] #40 closed, assigned to nobody

[2018-03-30 20:23] jwiegley commented on #51
Now that we distinguish head normal form from normal form, I don't see much value in this. Most of the values you will match on will not have a `Fix` wrapper.

[2018-03-30 20:23] #51 closed, assigned to nobody

[2018-03-30 20:24] jwiegley commented on #67
@ryantm Can you please try your program again? The code for doing this evaluation has changed a great deal in the past few weeks, and I believe this issue should be fixed now.

[2018-03-31 05:41] expipiplus1 commented on #39
👍

On Sat, 31 Mar 2018, 04:21 John Wiegley, <notifications@github.com> wrote:

[2018-03-31 06:09] jwiegley commented on #102
@ryantrinkle We now have evaluation error traces! Here's what I see if I add ` 10` to the end of the contents of `tests/files/hello.nix`, and then evaluate `tests/files/test.nix`:

[code]

[2018-03-31 06:11] #102 closed, assigned to nobody

[2018-03-31 14:28] ryantrinkle commented on #39
Sounds good :)

On Sat, Mar 31, 2018, 01:41 Joe Hermaszewski <notifications@github.com>
wrote:

[2018-03-31 16:58] jwiegley commented on #103
@ryantrinkle It looks like creating the symbolic evaluator for linting is going to require breaking `MonadNix` up into different type classes: `MonadScope`, `MonadLazy` and `MonadStore`. The reason for this is that not only will the symbolic evaluator not be using lazy evaluation (it's eager and non-deterministic, rather than lazy and deterministic), but we need the attribute scopes to refer to th

[2018-03-31 17:03] jwiegley commented on #103
This initial work has been push to the `symbolic` branch. Most of the new code is in `Lint.hs`.

[2018-03-31 22:18] #39 closed, assigned to nobody

[2018-04-02 07:27] jwiegley commented on #103
I've made more progress here, but needed to introduce thunks into the symbolic evaluator as well.

There's too much code duplication between `Eval.hs` and `Lint.hs`, but it's not obvious how to share them, since they differ in a few critical ways (mostly due to the non-determinism).

Dynamic key lookup isn't handled at all, nor are sets whose membership is unknown.

Finally, lists in Nix are heter

[2018-04-02 07:31] jwiegley commented on #103
For users wanting to check their own code, we may want to add "strictness" levels, like warning when we find a heterogeneous list. Further, if we allow comment-based type annotations, it would improve inference at call sites.

[2018-04-02 22:39] jwiegley opened #105 "Implement Hindley-Milner type inference in Lint.hs"
Consider the following case where we lint a function abstraction:

[code]

We can infer the return type and the type of `y` correctly, but we fail to infer `x` because we never re-examine `x + y` after later inferring the type of `y`. Instead we proceed linearly:

  1. See `x + y`, infer that x and y must both be either paths, strings or numbers.
  2. Later see `y + 2`, infer that y must be an int

[2018-04-02 22:48] jwiegley commented on #105
I think this may just need the Hindley-Milner inference algorithm.

[2018-04-02 22:52] jwiegley commented on #105
This looks like a promising starting point: https://github.com/kseo/poly_constraints

[2018-04-02 22:59] jwiegley commented on #52
This is really just: `findBinding (StaticKey "a") (parseNixString "inherit a b c;")`. Where a quasi-quater would be become interesting is in anti-quoting Haskell variables correctly based on their type.

[2018-04-02 23:07] jwiegley commented on #57
@Profpatsch I like the idea of adding the comments to the annotations. I wouldn't worry about the speed impact just yet.

[2018-04-03 07:24] jwiegley opened #106 "Use a binding library to implement scopes in Eval.hs"
Right now we do name lookups in a hash maps, which means that for x: x + x + x, there will be three lookups of the same argument. With unbound-generics we can perform the substitution by using a `subst` function on expressions, which will probably mean introducing two phases of evaluation: one that uses an F-algebra `NExprF NExpr -> NExpr` simply to reduce the underlying lambda calculus by perform

[2018-04-03 17:34] jwiegley commented on #106
A nice introductory article to the concept: https://byorgey.wordpress.com/2011/03/28/binders-unbound/

The reimplementation of that idea using GHC Generics: http://hackage.haskell.org/package/unbound-generics

Pinging @lambdageek, whose presence is missed when Theo and I are discussing lambda calculii. :)

[2018-04-03 18:02] lambdageek commented on #106
- I _think_ you can make an instance like
[code]

- I don't have an `Alpha` instance for `Fix`, so you'll need an orphan (possibly a bit intricate because of the higher kind).

- You will need to decide what your variables stand for - part of the design of Unbound is that you have to specify a phantom type to `Unbound.Generics.LocallyNameless.Name a`:
[code]
   That's maybe unsatisfying.  I've nev

[2018-04-03 18:09] lambdageek commented on #106
Also if your binding situation is _simple_, I wouldn't discount `bound`.  It's pretty great.  Especially if you love polymorphic recursion and you only have a single sort of variable.

In a lot of ways `unbound-generics` is more appropriate for languages with exotic binding structure:
* either multiple different sorts of variables, or
* variables that stand for different syntactic categories than

[2018-04-03 18:15] jwiegley commented on #106
@lambdageek Is there any performance difference between them? Will bound let us easily handle recursive bindings?

There are also cases in Nix where you can take an "attribute set" (basically just a Map), and convert the value into a binding scope using a `with` keyword. I'm wondering how to do that with these binding libraries.  Here's an example:

[code]

What Nix requires here is that the attri

[2018-04-03 19:05] lambdageek commented on #106
@jwiegley

- bound pays more attention to performance.

   Unbound becomes quadratic in the binding depth if you repeatedly unbind terms and descened under binders: https://github.com/lambdageek/unbound-generics/blob/master/benchmarks/BenchLam.hs

   The solution is to implement explicit substitutions (which is essentially bound's trick), but I never did that work and it would require explicit coo

[2018-04-03 19:08] jwiegley opened #107 "Add support for floats to Lint.hs"

[2018-04-03 19:20] #67 closed, assigned to nobody

[2018-04-03 19:25] jwiegley commented on #53
Note that this is covered by the Nix language tests, so I'm closing this as a separate issue. We're currently working on getting all of those tests to pass (down to 46 left, one of which is the full commenting test).

[2018-04-03 19:25] #53 closed, assigned to nobody

[2018-04-03 20:30] ryantrinkle opened #108 "Scoping is wrong when evaluating NVFunction"
In evalApp, the parameter scope is pushed before evaluating the function thunk:

https://github.com/jwiegley/hnix/blob/3775ff6c6dd268c17376aad6ffa7b049c87a5269/Nix/Eval.hs#L257

However, the thunk restores its containing scope:

https://github.com/jwiegley/hnix/blob/3775ff6c6dd268c17376aad6ffa7b049c87a5269/Nix/Eval.hs#L244-L246

The net result is that the parameter scope is given *lower* precedenc

[2018-04-03 21:25] ryantrinkle commented on #108
Quick repro, btw:

[code]

[2018-04-03 21:41] #108 closed, assigned to nobody

[2018-04-03 22:01] jwiegley commented on #52
The basic quasi-quoter is in place now, just import `Nix.TH`, turn on `QuasiQuotes` and `TemplateHaskell`, and then use `[nix| 2 + 3|]`, which will parse that text into a value of type `NExpr`, exactly as `parseNixString` would.

There are a few next steps for this work to make it more useful:

 - [x] In `Nix.TH`, write an evaluation pass to determine the free variables in a Nix expression, so the

[2018-04-04 00:43] jwiegley commented on #75
Thanks to @tgiannak, we were able to discern that the whole of this issue could be resolved by simply adding a `MonadInterleave` constraint, which is `id` for non-strict monads, like `Identity`, and uses `unsafeInterleaveIO` for `IO`. The only requires is that we have a way to indicate that certain binds (those where actions need to be deferred) can be evaluated lazily.

[2018-04-04 04:08] ryantrinkle opened #109 "XML support"
These tests can't be run because we don't yet support Nix's XML serialization format:

- [x] eval-okay-xml
- [x] eval-okay-toxml2
- [x] eval-okay-toxml
- [x] eval-okay-functionargs
- [ ] eval-okay-closure

[2018-04-04 04:17] ryantrinkle opened #110 "builtins.tryEval"
See [Builtins](https://nixos.org/nix/manual/#ssec-builtins).

`MonadFramed` already has a [`throwError`](https://github.com/jwiegley/hnix/blob/735c5ca15ab2beb09a51d7551d5e362bbbbc5793/Nix/Stack.hs#L55-L59) function, but it doesn't have a `catchError`.  We need to write `catchError` and then add a builtin [here](https://github.com/jwiegley/hnix/blob/735c5ca15ab2beb09a51d7551d5e362bbbbc5793/Nix/Buil

[2018-04-04 04:23] ryantrinkle opened #112 "Search Path"
We need a way to alter the search path where nix looks for files in angle brackets, e.g. `<nixpkgs>`.  We need ways to:
- [x] Parse them from the `.flags` file
- [x] Use them in the evaluator

This will fix eval-okay-search-path

[2018-04-04 04:26] ryantrinkle opened #113 "Regex support"
These two [Builtins](https://nixos.org/nix/manual/#ssec-builtins) can be added [here](https://github.com/jwiegley/hnix/blob/735c5ca15ab2beb09a51d7551d5e362bbbbc5793/Nix/Builtins.hs#L133):
- [x] builtins.split
- [x] builtins.match

This will fix:

- [x] eval-okay-regex-split
- [x] eval-okay-regex-match

[2018-04-04 04:28] ryantrinkle opened #114 "builtins.pathExists"
This [Builtin](https://nixos.org/nix/manual/#ssec-builtins) should be added [here](https://github.com/jwiegley/hnix/blob/735c5ca15ab2beb09a51d7551d5e362bbbbc5793/Nix/Builtins.hs#L133).

Fixes eval-okay-pathexists

[2018-04-04 04:30] ryantrinkle commented on #62
This looks related to [parse-okay-crlf](https://github.com/ryantrinkle/nix/blob/f2273b11f5aec82fd4546aff6ff621aeb397f794/tests/lang/parse-okay-crlf.nix) and [parse-okay-comments](https://github.com/ryantrinkle/nix/blob/f2273b11f5aec82fd4546aff6ff621aeb397f794/tests/lang/parse-okay-comments.nix)

[2018-04-04 04:33] ryantrinkle opened #115 "builtins.partition"
This [Builtin](https://nixos.org/nix/manual/#ssec-builtins) should be added [here](https://github.com/jwiegley/hnix/blob/735c5ca15ab2beb09a51d7551d5e362bbbbc5793/Nix/Builtins.hs#L133).

See https://github.com/NixOS/nix/commit/26d92017d3b36cff940dcb7d1611c42232edb81a

Fixes eval-okay-partition

[2018-04-04 04:35] ryantrinkle opened #116 "builtins.listToAttrs"
This [Builtin](https://nixos.org/nix/manual/#ssec-builtins) should be added [here](https://github.com/jwiegley/hnix/blob/735c5ca15ab2beb09a51d7551d5e362bbbbc5793/Nix/Builtins.hs#L133).

Fixes eval-okay-listtoattrs

[2018-04-04 04:36] ryantrinkle opened #117 "builtins.unsafeGetAttrPos"
This [Builtin](https://nixos.org/nix/manual/#ssec-builtins) should be added [here](https://github.com/jwiegley/hnix/blob/735c5ca15ab2beb09a51d7551d5e362bbbbc5793/Nix/Builtins.hs#L133).

Fixes eval-okay-getattrpos

[2018-04-04 04:37] ryantrinkle opened #118 "builtins.filter"
This [Builtin](https://nixos.org/nix/manual/#ssec-builtins) should be added [here](https://github.com/jwiegley/hnix/blob/735c5ca15ab2beb09a51d7551d5e362bbbbc5793/Nix/Builtins.hs#L133).

Fixes eval-okay-filter

[2018-04-04 04:37] ryantrinkle opened #119 "builtins.elemAt"
This [Builtin](https://nixos.org/nix/manual/#ssec-builtins) should be added [here](https://github.com/jwiegley/hnix/blob/735c5ca15ab2beb09a51d7551d5e362bbbbc5793/Nix/Builtins.hs#L133).

Fixes eval-okay-elem

[2018-04-04 04:38] ryantrinkle opened #120 "scopedImport"
This doesn't appear to be mentioned in [the Nix manual](https://nixos.org/nix/manual/), but we need it for eval-okay-import

[2018-04-04 04:39] ryantrinkle opened #121 "Error: "attr name argument to hasAttr is not a single-part name""
This appears in:

- [x] eval-okay-dynamic-attrs-bare
- [x] eval-okay-dynamic-attrs
- [x] eval-okay-attrs4

[2018-04-04 04:40] ryantrinkle opened #122 "Correctly process indented multi-line strings"
See [indented string](https://nixos.org/nix/manual/#idm140737318057472).

Fixes eval-okay-ind-string

[2018-04-04 04:40] Ericson2314 commented on #75
@jwiegley yeah that's similar but better than what I proposed above.

I believe we can improve it still further though. The problem with lazy IO is forcing a pure value can have side effect. We don't actually need that but rather the opposite as the problem is caching as without `unsafeInterleave` we have `call-by-name` instead of `call-by-need`.

If we instead do
[code]
we have it so the binding

[2018-04-04 04:41] ryantrinkle opened #123 "Finish __overrides"
See https://github.com/NixOS/nix/blob/master/src/libexpr/eval.cc#L820-L827

Fixes eval-okay-overrides

[2018-04-04 04:44] ryantrinkle opened #124 "derivation"
Add support for the `derivation` function.  This should probably be done at least in part by shelling out to `nix-build`, and then perhaps it should be added to [`MonadNix`](https://github.com/jwiegley/hnix/blob/735c5ca15ab2beb09a51d7551d5e362bbbbc5793/Nix/Monad.hs#L115).

Necessary for:

- [ ] eval-okay-eq-derivations
- [ ] eval-okay-delayed-with-inherit
- [ ] eval-okay-delayed-with

[2018-04-04 04:44] ryantrinkle opened #125 "__curPos"
See __curPos [here](https://nixos.org/nix/manual/#ssec-relnotes-1.7).

Fixes eval-okay-curpos

[2018-04-04 04:46] ryantrinkle opened #126 "builtins.currentSystem"
This [Builtin](https://nixos.org/nix/manual/#ssec-builtins) should be added [here](https://github.com/jwiegley/hnix/blob/735c5ca15ab2beb09a51d7551d5e362bbbbc5793/Nix/Builtins.hs#L133).  It may require adding something to [`MonadNix`](https://github.com/jwiegley/hnix/blob/735c5ca15ab2beb09a51d7551d5e362bbbbc5793/Nix/Monad.hs#L115)

Fixes eval-okay-builtins

[2018-04-04 04:49] ryantrinkle opened #127 "Parsing: eval-okay-attrs5"
[code]

Fixes eval-okay-attrs5

[2018-04-04 04:50] jwiegley commented on #75
@Ericson2314 Do you have an example of a case where the difference introduced by `maybeSafeInterleave` is needed?  Switching to `MonadInterleave` simplified the code but had no effect on any of the tests, so it seemed like it offered the semantics we need. But maybe there are tests still breaking that need what you're suggesting. Can you clarify?

[2018-04-04 04:51] ryantrinkle opened #128 "Implement builtins.path"
This [Builtin](https://nixos.org/nix/manual/#ssec-builtins) should be added [here](https://github.com/jwiegley/hnix/blob/735c5ca15ab2beb09a51d7551d5e362bbbbc5793/Nix/Builtins.hs#L133).

This doesn't have a `.exp` file; I think that means it just needs to evaluate without error.

Fixes `eval-okay-path` (remove it from `newFailingTests` list).

[2018-04-04 04:55] ryantrinkle opened #129 "Cycle detection"
builtins.deepSeq should terminate, even in the presence of cyclic datastructures.  Currently, eval-okay-deepseq times out because it does not.

[2018-04-04 04:56] ryantrinkle opened #130 "Timeout: eval-fail-scope-5"
eval-fail-scope-5 times out; it should fail instead

[2018-04-04 04:57] ryantrinkle opened #131 "Timeout: eval-fail-blackhole"
eval-fail-blackhole times out; it should fail instead

[2018-04-04 05:04] jwiegley commented on #75
@Ericson2314 Note that the type of the evaluator we're using is effectively:

[code]

So when evaluating an `NIf`, for example, we bind the condition, but then only bind the chosen alternative.

Where interleaving comes into play is when we're building up the values of a set or a function argument set, where we only want strictness in the spine and not the leaves. Then we use `interleave` on the m

[2018-04-04 05:06] ryantrinkle commented on #131
May require [cycle detection](./129)

[2018-04-04 05:08] Ericson2314 commented on #75
@jwiegley I'll take a look at the code. But in between replying and reading, I stumbled on this Oleg paper http://homes.soic.indiana.edu/ccshan/rational/lazy-nondet.pdf which, while not using `unsafeInterleaveIO` or anything like it, does have a `share :: m a -> m (m a)` i.e analogous signature.

[2018-04-04 05:20] jwiegley commented on #75
@Ericson2314 That's a great paper, I'll put that on my short list. Thank you for thinking more deeply about this issue, you've convinced me that this needs further consideration before I make more refactoring changes. Reopening this issue until we've resolved the question.

[2018-04-04 05:55] ryantrinkle opened #132 "Enable nix language tests by default"
When all other issues in [this milestone](https://github.com/jwiegley/hnix/milestone/1) are complete, eliminate the `LANGUAGE_TESTS` environment variable and run language tests unconditionally.

[2018-04-04 06:46] ryantrinkle opened #133 "Make LANGUAGE_TESTS fail if nix subrepo is not present"
Currently, if someone forgets to `git submodule init`, they will get 0 test failures (or successes) for the language tests, even with `LANGUAGE_TESTS=yes`.  Instead, they should get at least some indication that those tests could not be run.

[2018-04-04 16:29] jwiegley opened #135 "Effectful values were not longer being shared in MonadInterleave"
@Ericson2314 @ryantrinkle @tgiannak When we had the previous, `IORef`-based Thunk implementation, the following program only imported `hello.nix` once:

[code]

With the recent change to using `MonadInterleave`, we lost this sharing of effects, as can be seen by a trace of the evaluation:

[code]

Since we kept the interface the same, I'm going to revert the contents of `Thunk.hs` back to the `IOR

[2018-04-04 18:48] #62 closed, assigned to nobody

[2018-04-04 18:56] Warbo opened #136 "Linter ideas"
After playing with building my own Nix linter (using the parser, etc. from hnix), I was pointed here after getting some help in IRC. I came up with the following list of checks for my linter; some might be rather specific to my preferred style, but perhaps some would be useful enough to implement in hnix? They are (in no particular order):

 - [ ] Check for patterns which fit common builtin/lib fu

[2018-04-04 19:09] jwiegley commented on #136
This is a great list! As I'm working on Lint.hs, I'll make it so that syntax checks like this can be added in in a modular way.

[2018-04-04 20:58] jwiegley commented on #127
I don't think we ever want to fix this. The part of the test that's failing is asserting "backwards compatibility", indicating that the ability to use reserved keywords like this for attributes is perhaps not something intended for the future.

Nor do I see how hnix could ever support it, since it requires the parser to understand the evaluation scope in order to see that "or" is a bound name by t

[2018-04-04 21:25] ryantrinkle commented on #127
Wow, that is gross!  However, I think it might be *slightly* less gross than it appears.  For example:
[code]
Based on some experimentation, it looks like `or` is interpreted as a variable reference anytime the form to its left is not - syntactically - an attribute lookup.  I *think* the syntactic classification doesn't actually depend on whether `or` is in scope.

[2018-04-04 21:26] jwiegley commented on #127
@ryantrinkle OK, that's fair.

[2018-04-04 21:27] ryantrinkle commented on #127
Still gross, though! :P

[2018-04-04 23:23] ryantrinkle commented on #133
@mightybyte Is this obsoleted by https://github.com/jwiegley/hnix/pull/137 ?

[2018-04-04 23:34] #133 closed, assigned to nobody

[2018-04-04 23:57] mightybyte commented on #133
Yes.  PR #137 fixes this issue.

[2018-04-05 00:06] #115 closed, assigned to nobody

[2018-04-05 00:57] jwiegley commented on #125
Should be trivial to wrap this up, but I have to run for a while.

[2018-04-05 00:57] #126 closed, assigned to nobody

[2018-04-05 07:02] #131 closed, assigned to nobody

[2018-04-05 07:05] jwiegley commented on #130
Fixed by 68944f3

[2018-04-05 07:05] #130 closed, assigned to nobody

[2018-04-05 07:12] #125 closed, assigned to nobody

[2018-04-05 07:24] #121 closed, assigned to nobody

[2018-04-05 08:15] jwiegley commented on #109
`eval-okay-closure` is going to need its own issue, since it requires implementing `builtins.genericClosure`.

[2018-04-05 08:15] jwiegley commented on #61
@domenkozar Is this still the case?

[2018-04-05 08:16] jwiegley commented on #60
This is covered by #127, which, now that we know it's used by nixpkgs, we'll have to fix.

[2018-04-05 08:16] #60 closed, assigned to nobody

[2018-04-05 08:19] jwiegley commented on #127
Looks like this is used in `lib/attrsets.nix`.

[2018-04-05 08:28] jwiegley commented on #116
The builtin is implemented, but we'll need to implement `throw` to get the test working.

[2018-04-05 09:44] #116 closed, assigned to nobody

[2018-04-05 09:46] jwiegley opened #140 "Reduce memory usage"
Need to do a profiling pass to find out what is allocating so much. I mostly notice this when there are cycles (before we break them), but the memory grows far too quickly.

[2018-04-05 14:09] mightybyte commented on #109
I'll take a stab at `eval-okay-xml`.

[2018-04-05 14:57] ryantrinkle commented on #127
Fixed by https://github.com/jwiegley/hnix/commit/a5069c620d1e107f11da6b235ba806848ff27c81 and https://github.com/jwiegley/hnix/commit/7a49e00c5d5afad6ecf03a5d5047c7bb20a4fcdc

[2018-04-05 14:57] #127 closed, assigned to ryantrinkle

[2018-04-05 19:17] #129 closed, assigned to jwiegley

[2018-04-05 19:34] jwiegley opened #141 "okay-eval-deepseq"
@ryantrinkle Do you think this should evaluate to 456:

[code]

If so, exactly what are the semantics of `deepSeq`? It says it evaluates recursively, which means it should evaluate every `y.y.y.....` at all depths, leading to memory exhaustion.

The current version of hnix detects the evaluation cycle now.

[2018-04-05 20:50] ryantrinkle commented on #141
Yep, per nix, that evaluates to 456.  Gross, if you ask me.

[code]

[2018-04-05 21:14] jwiegley commented on #141
What I wonder is: how can that evaluate to 456? It's as if they stop evaluating once they reach the cycle, but that's not the meaning of "deep seq".

[2018-04-05 21:17] ryantrinkle commented on #141
I think they treat data structure cycles different from cyclic computations.  I'm not sure what (if any) underlying theory would describe it, though.

[2018-04-05 21:20] jwiegley commented on #141
Then I may need to add some kind of coloring to `normalForm` to know when to stop recursing, since I don't think we can detect this generally during evaluation and still allow the `functionargs` example to evaluate.

[2018-04-05 23:26] mightybyte commented on #109
`eval-okay-xml` and `eval-okay-functionargs` are now passing.

[2018-04-05 23:55] ryantrinkle commented on #109
Nice!

On Thu, Apr 5, 2018, 19:26 Doug Beardsley <notifications@github.com> wrote:

[2018-04-05 23:57] jwiegley opened #144 "builtins.genericClosure"
This is needed for `eval-okay-closure`.

[2018-04-05 23:57] jwiegley commented on #109
See #144 for the remaining part.

[2018-04-05 23:57] #109 closed, assigned to nobody

[2018-04-06 00:34] #141 closed, assigned to nobody

[2018-04-06 00:34] jwiegley commented on #141
Fixed by 8e5141fec5478e5538b9b938085585eab7b7ebf9

[2018-04-06 00:38] jwiegley commented on #135
I think we'll stay with the explicit now, which is at least easier to understand and allows us to discriminate between pure and effectful-bearing thunks.

[2018-04-06 00:38] #135 closed, assigned to jwiegley

[2018-04-06 00:45] #119 closed, assigned to nobody

[2018-04-06 00:48] #118 closed, assigned to nobody

[2018-04-06 01:00] #114 closed, assigned to nobody

[2018-04-06 01:01] #75 closed, assigned to jwiegley

[2018-04-06 01:21] jwiegley commented on #123
This issue is inches away from being done: I just have to ensure that the processing of `__overrides` happens after all the other entries. We can do this by moving the `__overrides` entry to the end of the list before running `mapM go`. Will finish later tonight if no one else does.

[2018-04-06 01:34] kmicklas commented on #123
Ah @jwiegley I just finished it!

[2018-04-06 01:39] kmicklas commented on #123
@jwiegley My solution is to simply prefer attributes from an `__overrides` over other attributes by changing the use of `M.insert` to an appropriate `M.insertWith`. Not sure which way would end up being cleaner so feel free to ignore my PR. :smile:

[2018-04-06 01:43] kmicklas commented on #123
Interestingly I noticed this feature isn't used at all in nixpkgs. I want to send a PR to upstream nix deprecating it since it adds useless complexity IMO.

[2018-04-06 03:20] jwiegley commented on #107
Due to #105, I don't want to make further changes to the broken inference we do now.

[2018-04-06 03:20] #107 closed, assigned to nobody

[2018-04-06 03:48] jwiegley opened #147 "Need a faster parsing library"

[2018-04-06 03:48] jwiegley opened #148 "Resolve remaining parse failures in nixpkgs"
You can now run the following to test whether `hnix` is capable of parsing the entirety of `nixpkgs`:

[code]

At the moment there are still errors:

- [x] gutenprint

[code]

- [x] mesa

[code]

- [x] fetchgit

[code]

- [x] monero

[code]

[2018-04-06 03:52] ryantrinkle commented on #147
That sounds great :)  I wonder if it's possible to productive cache parsing
(in conjunction with this)

On Thu, Apr 5, 2018, 23:48 John Wiegley <notifications@github.com> wrote:

[2018-04-06 03:53] ryantrinkle commented on #148
Only 2 errors???

On Thu, Apr 5, 2018, 23:48 John Wiegley <notifications@github.com> wrote:

[2018-04-06 03:54] jwiegley commented on #148
Only 4.

[2018-04-06 03:58] ryantrinkle commented on #148
Wow, that's phenomenal! I was expecting nixpkgs to really stress us.

On Thu, Apr 5, 2018, 23:55 John Wiegley <notifications@github.com> wrote:

[2018-04-06 04:02] jwiegley commented on #16
At the moment Trifecta is very slow and memory consumptive. It dominates the profiling output (though maybe @ekmett knows what we're doing wrong). Yet it gives such great error message, it would be hard to give up.

I wonder if we could use both attoparsec and Trifecta, and if parsing fails with the former, reparse with the latter for the error message.

I mention this because right now parsing th

[2018-04-06 04:03] jwiegley commented on #16
Here's the profiling results for all of nixpkgs. It appears that much of the slowness is due to the enormous turn-over in temporary allocations:

[code]

[2018-04-06 04:03] jwiegley commented on #16
Here's what these numbers and errors need to be compared with, by running:

[code]

which gives:

[code]

[2018-04-06 04:03] #147 closed, assigned to nobody

[2018-04-06 04:03] jwiegley commented on #147
This issue is being tracked in #16.

[2018-04-06 04:15] jwiegley commented on #16
With profiling disabled and `-O2`, `hnix` completes in 54s, so presently 17.4x slower.

[2018-04-06 04:24] #61 closed, assigned to nobody

[2018-04-06 04:25] jwiegley commented on #148
This is only parsing though, not evaluation.

[2018-04-06 04:25] jwiegley commented on #148
Once we have `derivation`, we can start seeing about that part.

[2018-04-06 04:28] mightybyte commented on #122
I'm looking into this.

[2018-04-06 04:36] #148 closed, assigned to nobody

[2018-04-06 06:17] #117 closed, assigned to nobody

[2018-04-06 06:17] jwiegley commented on #117
This was quite an invasive change, but since nixpkgs relies on it for error reporting, it seemed needful.

[2018-04-06 06:52] jwiegley commented on #113
The behavior of `match` is almost the same as pcre-light's `match`, but `split` will require some special code in `hnix`.

[2018-04-06 06:52] jwiegley commented on #140
This seems to have happened with runaway cycles, but in general the profile shows that not much memory is consumed during evaluation.

[2018-04-06 06:52] #140 closed, assigned to nobody

[2018-04-06 06:55] jwiegley commented on #16
@ekmett Suggests the attoparsec-then-trifecta approach, since we've already abstracted the parser using the parsers library.

[2018-04-06 06:59] #58 closed, assigned to nobody

[2018-04-06 07:07] jwiegley opened #149 "Add a test to pull and parse all of the nixpkgs default.nix is pinned to"
This would probably have to be an optional run, but it's something we could enough for Travis, since we can parse everything now.

[2018-04-06 07:08] mightybyte commented on #113
From a gitter conversation...

And https://nixos.org/nix/manual/#ssec-builtins specifically says these functions use "extended POSIX regular expression"

http://hackage.haskell.org/package/regex-tdfa-1.2.3/docs/Text-Regex-TDFA.html seems to suggest that there might be subtle corner cases:

So I'm going to look into using regex-tdfa for this.

[2018-04-06 17:43] jwiegley commented on #123
As pointed out by @kmicklas, the code I wrote for this doesn't handle `inherit __overrides` yet.

[2018-04-06 18:02] mightybyte commented on #113
PR #150 switches to regex-tdfa for match.

[2018-04-06 23:35] #120 closed, assigned to nobody

[2018-04-06 23:37] jwiegley commented on #110
I think we should just move to `MonadThrow` and `MonadCatch` for this, with `MonadStack` being an embellishment on top of those for error reporting.

[2018-04-07 16:40] ryantrinkle commented on #144
Marking this as "good first issue".  Note: it has nothing to do with function closures - it's more like a repeated concatMap that keeps going until it stops finding new things.

See the C++ implementation here: https://github.com/NixOS/nix/blob/b828051659cf7cac21577982afd3f9314dc2e68c/src/libexpr/primops.cc#L341-L403

[2018-04-07 18:47] mightybyte commented on #113
I'm working on `builtins.split`.

[2018-04-07 21:56] #110 closed, assigned to nobody

[2018-04-07 22:41] ryantrinkle commented on #124
`derivation` added by 8b0de962b055bd73393849aaa64d8957fc393200

[2018-04-07 23:36] ryantrinkle commented on #124
Passing eval-okay-eq-derivations still requires cycle detection in `thunkEq`

[2018-04-08 00:16] ryantrinkle commented on #124
Closed by 1ada8648f22ffb0b86432aa1d2e4fcdfa4a2952a

[2018-04-08 00:16] #124 closed, assigned to ryantrinkle

[2018-04-08 01:54] Ekleog opened #152 "Priority of `NSelect` and `NConcat`"
While parsing `<nixpkgs/nixos/tests/radicale.nix>`, I came upon what I think is a bug in `hnix`.

Indeed, if I ask the parse result of `{ a = [1]; }.a or [2] ++ [3]`, `hnix` answers this:
[code]
that is approximately
[code]

Especially, the `NSelect` is placed top-level.

However, in `nix repl`, I get the following result:
[code]

Which means `NConcat` should be placed top-level, and the tree shou

[2018-04-08 03:04] ryantrinkle commented on #152
Yep! Looks like a bug. Perhaps binary operators shouldn't be in nixTerm?

On Sat, Apr 7, 2018, 21:54 Léo Gaspard <notifications@github.com> wrote:

[2018-04-09 00:30] deepfire commented on #57
@Profpatsch, I'm slightly worried when you mention docstrings -- since they presumably can't be attached at arbitrary points, and also potentially due to the transformations you mention..

 Do you envision being able to have an identity parser/pretty-printer with that scheme?

[2018-04-09 07:54] jwiegley opened #155 "Restore the symbolic evaluator"
@ryantrinkle You'll notice we lost some ground in the Nix language tests. This is because although I've finished splitting the evaluator up using a type class, I haven't ported the linter yet, which 7 of the tests depend on. This should not take long to get back, though, and should let us easily write the quasi-quoter.

Also, evaluation is now much slower, so some performance analysis on why this

[2018-04-09 12:59] Profpatsch commented on #57
I don’t really have a vision, just incoherent thoughts. :)

hnix already keeps source spans by default:
[code]

`parseNixFile` is just a `parseNixFileLoc` which throws away its `SrcSpans` (probably doesn’t even instantiate them into memory given enough laziness).

So I don’t see how something like `parseNixFileLocComments :: MonadIO m => FilePath -> m (Result (Fix (AnnF CommentSpan (AnnF SourceSpa

[2018-04-09 14:28] Ekleog commented on #57
Hmm, so you're thinking of tying each comment to an AST item, if I understand correctly the type signature? I'm not sure how you'd be able to do it for all the examples you raised in https://github.com/jwiegley/hnix/issues/57#issuecomment-311553816: maybe full-line comments attach to the token after and part-of-line comments attach to the token before?

(for the context, I'm currently trying to im

[2018-04-09 15:02] Ericson2314 commented on #152
`or` has very odd precedence, unlike infix operators in Haskell or the others in Nix. I think it binds as tightly as function application, perhaps both `or`s are parsed the same.

[2018-04-09 15:15] ryantrinkle commented on #152
@Ericson2314 Yep, as @Profpatsch mentioned, it's tighter than function application.  I think it's best thought of as *part of* the the field lookup syntax, which is how the parser currently does it.

[2018-04-09 15:15] Ekleog commented on #152
(also see https://nixos.org/nix/manual/#table-operators)

[2018-04-09 15:16] Profpatsch commented on #152
@ryantrinkle Sorry, I deleted my comment because the examples didn’t work out in the end. But I’m fairly certain `or` binds more strongly than function application, because I’ve stumbled over it in this function:

[code]

It doesn’t work if I remove the parens around `(def case)`.

[2018-04-09 15:23] Profpatsch commented on #57
@Ekleog I suspect you’d have to just decide on what lexer token you assign them to.

The definition of `CommentSpan` in https://github.com/jwiegley/hnix/issues/57#issuecomment-311725647 is missing a list I think:

[code]

because of stuff like `{ foo /*uh oh*/ = /*oh uh*/ "23" /*test*/; }`

[2018-04-09 16:59] jwiegley commented on #16
I'm actually just going to switch to `megaparsec`, since not only do we need speed, but we also need to be able to query the current stream position during parsing, which `attoparsec` does not provide.

[2018-04-09 17:07] mightybyte commented on #16
While you're at it you may want to keep in mind the error messages.  I just discovered that `hnix --eval data/nix/tests/lang/eval-okay-regex-split.nix` gives an atrocious error message when one of the assertions in there fails (with the good implementation of builtins.split found at https://github.com/jwiegley/hnix/pull/154).  I'm not sure if this will be covered by this parser work or if it shoul

[2018-04-09 17:17] jwiegley commented on #16
This work has started on the `megparsec` branch, and should be working early this week.

[2018-04-09 17:21] mightybyte opened #156 "Fix formatting of hnix command line error messages"
When running the hnix command line tool on an expression with a failing assertion, I get the following output.

[code]

The escaping needs some work so command line error messages are more understandable.

[2018-04-09 17:24] jwiegley commented on #156
I recently switched to a separate `NixException` type, rather than just calling `error`, and we use `Control.Monad.Throw`, which allows people to do custom exception handling in their own evaluator implementations.

So, to everyone reading, avoid ever calling `error`, but always call `evalError` or, if that's not available, `throwError`.

[2018-04-09 17:26] jwiegley opened #157 "Implement all of the builtins actually used by nixpkgs"
It's possible this may include some features not exercised by the language tests.

The symbolic evaluator should be good example of writing a custom `grep`-style tool for doing pointed queries like this, since it can take `with` and `let` bindings into account.

From @mightybyte: Comparing this with what we have in `Builtins.hs`, we are missing at least these functions:

- [ ] currentTime
- [ ] di

[2018-04-09 17:28] jwiegley opened #158 "Write a QuickCheck generator for Nix expression trees"
There should actually be a way of using GHC Generics to synthesize AST generators.

But however we do it, since the parser and pretty should at least form an adjunction (it could become an isomorphism if we find a way to embed comments and whitespace), then this property should hold:

    parse . pretty ~~ id

It's not quite equal to identity, since the position information will differ, but it sho

[2018-04-09 17:29] jwiegley opened #159 "Mark most of the hnix modules as -XSafe"
Since we mostly aren't using IO anywhere but in `Nix/Monad/Lazy.hs`, it should be possible to build all the rest hnix with `-XSafe`, to give us some further checks on the purity of that code.

[2018-04-09 18:20] ryantrinkle commented on #16
@mightybyte I think the main issue with the error message is that the inner string needs to get `putStrLn`ed rather than `print`ed.

[2018-04-09 18:42] Ericson2314 commented on #16
I feel like @taktoa did some megaparsec thing that might be useful, but maybe that was just for Ninja.

[2018-04-09 18:44] taktoa commented on #16
I've never parsed Nix with `megaparsec`, but https://github.com/NixOS/nix/issues/1102 and https://github.com/groxxda/nixexpr may be useful to you.

[2018-04-09 18:52] jwiegley commented on #16
@mightybyte Check our how the NixLanguageTests print their error messages. I’ll move that to Main.hs if you don’t get to it before me.

[2018-04-10 17:04] cbarrett commented on #16
@jwiegley  Let me know if there's stuff that can be done, I've worked with a number of different Parsec-inspired libraries in Haskell, so I feel like I'd be comfortable helping out some with the migration.

[2018-04-10 18:11] jwiegley commented on #16
We're now switched to `megaparsec`, and comparing apples to apples, we're twice as slow as nix:

[code]

I find it interesting that Nix spends so little time doing any computing, so that the 2.5 minutes is probably being spent just dumping the pretty print results into `/dev/null`.

The `megaparsec` parser is currently slow due to `<|>`. I've reduced the amount of back-tracking and alternatives qu

[2018-04-10 18:13] jwiegley commented on #16
@cbarrett Would you like to do some performance work in `Parser.hs`? I shouldn't be modifying it too much for the rest of the week.

[2018-04-10 18:17] #16 closed, assigned to nobody

[2018-04-10 18:21] jwiegley commented on #152
This got fixed by the switch to `megaparsec`, as a result of other fixes I did during the migration.

[2018-04-10 18:21] #152 closed, assigned to nobody

[2018-04-10 18:24] jwiegley commented on #149
If you set `NIXPKGS_TESTS=yes`, this test will get run. It doesn't work on Travis yet, though.

[2018-04-10 18:24] #149 closed, assigned to nobody

[2018-04-10 18:25] jwiegley opened #160 "Enable NIXPKGS_TESTS=yes on Travis"
It says it can't find `<nixpkgs>` on the `NIX_PATH` there.

[2018-04-10 18:52] jwiegley opened #161 "Drop dependency on insert-ordered-containers"
@mightybyte Pulling in `insert-ordered-containers` causes us to transitively depend on `lens`. Without using this package, we would otherwise have a pretty small dependency set nowadays (after the switch to `megaparsec`).

Can we just copy out of `insert-ordered-containers` the bit that we need?

[2018-04-10 18:55] jwiegley commented on #161
Since we only use this for parameter sets, and those generally are smallish in scale, I'm going to replace it with a regular association list for now.

[2018-04-10 19:00] #160 closed, assigned to nobody

[2018-04-10 19:04] jwiegley commented on #161
Here's our current transitive dependency set:

[code]

[2018-04-10 19:04] #161 closed, assigned to nobody

[2018-04-10 19:18] jwiegley commented on #159
We use template haskell in a few too many core places for this to work.

[2018-04-10 19:19] #159 closed, assigned to nobody

[2018-04-10 19:22] jwiegley commented on #158
It looks like `generic-random` will be good for this: https://hackage.haskell.org/package/generic-random

[2018-04-10 19:22] jwiegley opened #162 "Implement builtins.fetchTarball through Haskell"

[2018-04-10 19:25] #156 closed, assigned to nobody

[2018-04-10 19:42] #103 closed, assigned to nobody

[2018-04-10 19:58] jwiegley commented on #68
An alternative to this idea for Emacs users would be to create a REPL mode that emits Emacs Lisp to completion queries.

[2018-04-10 19:59] jwiegley opened #164 "Create hnix-repl"

[2018-04-10 20:01] jwiegley opened #165 "Cache successful Nix parses by serializing expression trees into .nixc files"
Then when we need to parse again, we just deserialize directly.

[2018-04-10 20:10] cbarrett commented on #16
@jwiegley I'll take a look this week and let you know whether or not I find anything

[2018-04-10 22:10] Ekleog commented on #152
Great, thanks!

[2018-04-10 22:54] Profpatsch commented on #105
There has been some substantial work going into gradual types for nix: https://www.youtube.com/watch?v=79dL7HgmW_k

Nix is very dynamic, what do you do when it’s impossible for HM to typecheck/infer something?

[2018-04-11 01:59] jwiegley commented on #165
We now have all the necessary `Binary` instances for `NExpr`, so really the work is just:

 1. When `parseNixFile PATH` is called, check for `PATH.nixc`.
 2. If it's newer than `PATH.nix`, read it and deserialize it using `binary`.
 3. If it's older or the same age as `PATH.nix`, parse it and serialize the result to `PATH.nixc`.

Since it takes us 32s to parse all of nixpkgs, this would greatly sp

[2018-04-11 02:01] #122 closed, assigned to nobody

[2018-04-11 02:03] jwiegley commented on #50
[code]

[2018-04-11 02:03] jwiegley commented on #50
Otherwise, this is now fixed.

[2018-04-11 02:03] #50 closed, assigned to nobody

[2018-04-11 04:30] #155 closed, assigned to jwiegley

[2018-04-11 04:45] jwiegley commented on #105
@Profpatsch I imagine we'll just have to treat it as a type that unifies with anything, which will degrade the usefulness of any error that we might report.

For example:

[code]

Although I know what the type of `x` should be here, I have no way of knowing if it's ever going to be scope, so I have to punt and constraint `pkgs` to the type of a set that at least contains an `x` of type int.

[2018-04-11 06:17] mightybyte commented on #113
eval-okay-regex-split is now passing, so this can be closed.

[2018-04-11 06:48] #113 closed, assigned to nobody

[2018-04-11 08:41] jwiegley commented on #105
I just watched that video, and it seems strange to me that he never mentions HM, since at several points he gets very close and uses ideas found in that algorithm. Take this for example:

    x: x + 1

There’s no reason this needs a typing annotation to determine that the type of x is Int. The plus operator produces a typing constraint on both its arguments which is already enough to type this fun

[2018-04-11 10:46] domenkozar commented on #165
@jwiegley wouldn't it be better to use CBOR? Duncan Coutts explains in https://www.youtube.com/watch?v=60gUaOuZZsE how binary is as slow as Aeson and how CBOR design addresses that with lessons learned.

[2018-04-11 16:43] jwiegley commented on #165
Cool, let’s use CBOR.

[2018-04-11 16:55] jwiegley commented on #106
I’m no longer convinced that this issue is necessary, for two reason: We want NExpr to be a “raw” expression tree, for purposes of pretty printing, where it makes no sense to do name resolution. And due to the dynamic nature of Nix, some name lookups will have to be deferred until evaluation anyway. Bound would give us faster substitution when calling into lambdas, but we have the case of attribut

[2018-04-11 17:03] jwiegley commented on #36
This definitely needs documentation, as things are getting a bit complex. I'm moving toward a scheme where you can either implement full tree evaluation yourself, or just make an instance of `MonadEval`, which lets the core evaluator in `Eval.hs` resolve all of the static name binding for you.

[2018-04-11 17:11] jwiegley commented on #18
@Fuuzetsu The parse tree now carries full location information (start/stop ranges) for every parsed entity. I'm not sure how to get you the underlying "token stream" since we're using megaparsec and not doing a two-phase parse.

[2018-04-11 17:20] ryantrinkle commented on #165
What about Data.Compact.Serialize?  Seems like it could be extremely
performant, although I'm not sure if there are any potential security
issues:
https://github.com/ezyang/compact/blob/master/Data/Compact/Serialize.hs#L116-L132

On Wed, Apr 11, 2018 at 12:43 PM, John Wiegley <notifications@github.com>
wrote:

[2018-04-11 17:56] jwiegley opened #167 "Support indentation of interpolated splices"
As documented here:  https://github.com/NixOS/nix/pull/580

This will require adding an `Int` field to `NString` so that we can remember what level of indentation was stripped during parsing. Then, that field needs to be used when doing interpolation to know how much to indent each interpolated line by.

[2018-04-11 19:02] jwiegley commented on #167
Ah, I see, it's not related to how much indentation was stripping during parsing, but of how much indentation exists on the line at the time of interpolation.

[2018-04-11 21:00] jwiegley commented on #162
This has been implemented for now by invoking `nix-instantiate`. We should instead create a new `Nix.Fetch` module, and use `pipes` to stream and decompress the tarball contents as we write them to disk.

[2018-04-11 21:04] jwiegley commented on #112
This would be implemented in `findEnvPath`, in `Exec.hs`.  Right now the code is:

[code]

It just needs to be changed to lookup `NIX_PATH`, split the string apart, find `foo=bar` for the argument `foo` passed to `findEnvPath`, and then return the result of calling `makeAbsolutePath` on `bar`.

[2018-04-11 21:06] jwiegley commented on #112
We'll also need to handle `-I` as a command-line option in `main/Main.hs`, and add a mapping of names to paths to the `Context`, which `findEnvPath` would consult first before looking up `NIX_PATH`.

[2018-04-11 21:10] jwiegley opened #168 "Support reading the .flags files in the Nix tests"
To do this, we should move the options processing code from `main/Main.hs` into `src/Nix/Options.hs`, so that all we have to do is parse the options directly out of the `.flags` file.

[2018-04-11 21:24] jwiegley commented on #165
`Data.Compact.Serialize` looks perfect!  Adding a `--compact` flag to `hnix` for testing.

[2018-04-11 21:36] jwiegley commented on #165
@ryantrinkle It crashes immediately on macOS, apparently due to ASLR (which I can't seem to disable on High Sierra).  See if this works for you:

[code]

[2018-04-11 21:39] hSloan commented on #144
I'm picking this up

[2018-04-11 22:29] Fuuzetsu commented on #18
Maybe it's enough as is now.  No time to check but I'll open new tickets if I try it and need more.

[2018-04-11 22:29] #18 closed, assigned to nobody

[2018-04-11 23:09] ryantrinkle commented on #165
It works; sweet!

[2018-04-11 23:52] jwiegley commented on #144
@hSloan Great, Ishaq! And I'm happy to see you around here. :)

[2018-04-12 00:25] jwiegley commented on #165
Looks like I'll have to use `serialise` on platforms that don't support reading `compact` files.

[2018-04-12 01:06] jwiegley commented on #165
Caching `all-packages.nix` with `serialise` on the Mac improves load times by about 3x.  0.37s to read the cached file, 0.9s to read the source file.  Writing the file takes 1.0s, so just 0.1s on top of the parsing.

The last step is to integrate this into the importing mechanism in `Exec.hs` so that when `--cache` is enabled (and this and other flags are reflected in the `Context`), any files tha

[2018-04-12 05:28] jwiegley opened #169 "Finish handling of environment paths (NIX_PATH/-I)"

[2018-04-12 05:30] jwiegley commented on #169
This is already covered by #112.

[2018-04-12 05:30] #169 closed, assigned to nobody

[2018-04-12 05:30] jwiegley commented on #112
I've adding processing of the `-I` flag, and the logic to normalize it down to either a single text field, or a pair of fields. All that needs to be done now is the right path surgery for each possible case, checking if the path exists, and calling `makeAbsolutePath` on the result.  See the notes and documentation in `findEnvPath` to get started.

[2018-04-12 05:32] jwiegley commented on #165
The caching code is now separated into its own module `Nix.Cache`. The code for doing conditional cache reading/writing based on file times should be put there.

[2018-04-12 17:56] jwiegley commented on #105
I've added code for doing Hindley-Milner type inference in the `src/Nix/Type` directory. This code was written by Stephen Diehl and Kwang Yul Seo, which they released under an MIT license as the project [poly_constraints](https://github.com/kseo/poly_constraints):

The code is being added to `hnix` right now as mainly a placeholder, as it will need to be modified before it can be used. It's alread

[2018-04-12 17:57] jwiegley commented on #164
I've added code for providing a repl in the file `main/Repl.hs`. This code was written by Stephen Diehl and Kwang Yul Seo, which they released under an MIT license as the project [poly_constraints](https://github.com/kseo/poly_constraints):

The code is being added to `hnix` right now as mainly a placeholder, as it will need to be modified before it can be used.

[2018-04-12 18:51] jwiegley opened #170 "Allow concurrent evaluation"
Right now parsing is our slowest task, and yet parsing occurs during evaluation all the time due to `import` expressions. It would be nice if we could assign a pool of N workers (using the `async-pool` library), and perform these slow evaluations concurrently since none of them can have interfering side-effects. This should speed up the evaluation of `nixpkgs` considerably if there are many capabi

[2018-04-12 19:00] jwiegley opened #171 "Cache type inference details in a .nixi file"
Once #105 is done, we'd like to cache type information learned about the contents of file, so the symbolic evaluator can load this information when it encounters an `import` statement (this will require introducing at least the file reading effect into that evaluator).

[2018-04-12 21:21] jwiegley commented on #152
@Profpatsch According to the precedence table, `a.b [or c]` binds tighter than anything else.

[2018-04-12 23:49] jwiegley commented on #164
The basic REPL now works. Here's what needs to happen next

 - [ ] Allow establishing "x = y" definitions, and then pushing a scope around subsequent evaluations (there's a note showing where to do this) that causes free references to 'x' to get bound to 'y'.

 - [ ] Define `it` to always be the last-thing-evaluted.

 - [ ] Allow loading in files, both from command-line and using `:load`, and usin

[2018-04-12 23:52] jwiegley opened #172 "Change argument parsing to a command/sub-command model"
As Nix did with 2.0, rather than using lots of options and trying to emulate the UI of `nix-instantiate`, move to a command/sub-command parsing model, with each subcommand in its own file inside `main`.

[2018-04-13 01:47] puffnfresh opened #173 "nix-daemon"
nix-daemon exists to support multi-user Nix stores. It exposes many operations of nix-store as a daemon and has the following additional features:

* `allowed-users`: Only allowing certain users to connect (`*`, the default, means everyone)
* `trusted-users`: Only allowing certain users to add binary substituters or import unsigned NARs (`root` is the default)
* Receiving Nix options from clients

[2018-04-13 07:38] jwiegley commented on #112
@ryantrinkle We also need to implement `__nixPath`, which on my system reports:

[code]

The first entry comes from the `NIX_PATH`, but where does the second one come from?  It seems it was compiled into the Nix binary.

[2018-04-13 08:22] jwiegley commented on #112
OK, almost everything is done except for this:

[code]

As you can see at the end, we're duplicating `lang/lang` in the absolute path, which causes us not to find the file wanted by the test.  Also, I don't know why it's assuming that the `__nixPath` will have 6 elements in it, when it's only adding 3 more entries via the `.flags` file.

[2018-04-13 17:40] jwiegley commented on #112
I think what this means is that when appending `foo/bar/baz` onto a NIX_PATH of `/nix/foo/bar`, it's intended to be `/nix/foo/bar/baz`?  I.e., you elide where the two overlap?

[2018-04-13 23:37] #112 closed, assigned to nobody

[2018-04-13 23:41] jwiegley commented on #128
This could be challenging, since I think these "enriched paths" are supposed to be interchangeable with other paths.

[2018-04-13 23:42] #168 closed, assigned to nobody

[2018-04-14 01:28] jwiegley opened #177 "Support tilde in paths"
At the moment, `import ~/foo {}` gives an error about `~` being an unexpected today.

[2018-04-14 01:46] jwiegley opened #178 "Scoping is wrong in rec sets with path accessors"
If you evaluate `nixpkgs` with this command:

[code]

It dies for me on line 209 of `lib/systems/parse.nix`, complaining that for the accessor `types.cpuType.check`, that `types` does not contain `cpuType`.

The problem here is that hnix is resolving `types` to the field brought in by `lib/types.nix` (at the top of the file), and not to the `types` field which is defined as part of the enclosing r

[2018-04-14 02:35] jwiegley opened #179 "Need another output token to represent thunks"
Right now we re-use a lot of code by output thunks as if they were string objects containing the word `"<thunk>"`, but really they should not be display as strings like that.

[2018-04-14 03:43] jwiegley opened #180 "Add an option to control the verbosity of reported stack frames"
Right now the number of stack frames reported can get kind of crazy, since it reported every single step of the evaluator's descent. Probably this should default to up to the last 10 frames, with an option to set a cutoff value, or 0 for unlimited.

[2018-04-14 07:04] jwiegley opened #181 "Bug in scoping of rec sets that use "x.y.z" attr paths"
@ryantrinkle Consider this example:

    let s = rec { x.y.z = 1;
                  x.w = x.y.z; }; in s.x.w

The problem with encoding this correctly is that our notion of sets (of any kind, including scopes), has a maximum visible depth of 1 dimension, and we support cyclic references at that level only. In order to descend down a level, we have to force a thunk, but the result of forcing that t

[2018-04-14 16:02] jwiegley commented on #181
The first step will be to abstract everything attrset related into its own new module `Nix.AttrSet`.

[2018-04-14 19:35] jwiegley commented on #181
This work is now progressing in the [attrsets](https://github.com/jwiegley/hnix/tree/attrsets) branch. There are still a ton of `undefined` markers, and several more helper functions that need to be written regarding attrsets, plus some usability improvements (especially static construction, which may deserve a Quasi-Quoting environment in order for us to provide SourcePos information for keys def

[2018-04-15 09:23] jwiegley commented on #123
@ryantrinkle This might be a good issue to include in your restructuring of `evalBinds`.

[2018-04-15 09:24] jwiegley commented on #181
Duplicate of #178. @ryantrinkle is currently working on this.

[2018-04-15 09:24] #181 closed, assigned to jwiegley

[2018-04-17 18:55] xplat commented on #128
nix actually handles this by figuring out the store path and using that as a plain path object.  There are no actual 'enriched path objects' in nix libexpr.

[2018-04-17 20:45] xplat commented on #128
Actually now that i  check more closely, builtins.path returns a string, not a path!

[2018-04-18 02:43] jwiegley commented on #106
Nope, it's necessary, otherwise we re-evaluate expensive function bodies with each new set of arguments.

[2018-04-19 00:42] #180 closed, assigned to nobody

[2018-04-19 00:44] jwiegley opened #183 "Add a --trace option for --eval to reproduce the "relevant expression context""
If, during evaluation, we record the expression trees involved, and "color" them as we go, then at the point of reaching `throwError` we could dump the minimal expression tree relevant to the error:

  - Delete unreferenced set members
  - Delete unreferenced function arguments (if taking a parameter set)
  - Delete unused default arguments
  - Replace unevaluated thunks with nulls

This would mak

[2018-04-19 02:36] jwiegley commented on #183
This is actually done now! I'm going to have to write a blog post tonight on how powerful recursion schemes can be. I was able to add this functionality without changing a single line in the original data types or evaluators.

[2018-04-19 08:18] jwiegley opened #184 "The parser or pretty printer is dropping variadic arguments"
[code]

prints as:

[code]

[2018-04-19 08:43] jwiegley commented on #183
@ryantrinkle The option is `--trace`, which for the given input file:

[code]

Produces this output:

[code]

This is actually working well enough that it produces a file which reproduces the `<<loop>>` I'm encountering in `nixpkgs` right now, in less than 10k lines.  It still contains imports when those imports are the result of evaluation (i.e., the tracer can't see the import directly).

[2018-04-19 08:47] jwiegley commented on #183
I need to use an evaluator here that does "no effect reduction", to further simplify the resulting expression tree and discover more importing opportunities. Right now the following fails to trigger a static load:

[code]

Also, we should be able to reduce all statically computable subexpressions. This will mean flagging builtins to know which cause external effects and which are pure.

[2018-04-19 15:43] ryantrinkle commented on #183
This is insanely awesome.  Both the functionality and the fact that it was so clean to add.

[2018-04-19 19:23] domenkozar commented on #183
:+1:  :+1:  :+1:

[2018-04-19 19:26] gilligan commented on #183
😻

[2018-04-19 19:49] jwiegley commented on #183
The code for this approach is here: https://github.com/jwiegley/hnix/blob/master/src/Nix/Trace.hs. Note that the only function doing real work is `pruneTree`, which decides what it means when an expression node has unreferenced parts. This code is called from here: https://github.com/jwiegley/hnix/blob/master/src/Nix/Entry.hs#L74

[2018-04-20 00:00] jwiegley commented on #183
Blog article describing this process is up: http://newartisans.com/2018/04/win-for-recursion-schemes/

[2018-04-20 00:28] #184 closed, assigned to nobody

[2018-04-20 00:29] #167 closed, assigned to nobody

[2018-04-20 10:00] jwiegley commented on #183
The pure reduction evaluator is now working and is part of `--trace`.  See `Reduce.hs` for more details.

[2018-04-20 10:00] #183 closed, assigned to jwiegley

[2018-04-20 11:02] domenkozar commented on #128
Right:

[code]

[2018-04-21 06:48] #177 closed, assigned to nobody

[2018-04-21 07:01] jwiegley opened #187 "Compile Nix files into Haskell, and from there to native code"
So that after pulling the latest nixpkgs, you can build a `nixpkgs` binary which contains the entire package set. This should make queries and `nix-shell` invocations far quicker.

[2018-04-21 07:56] jwiegley opened #188 "Problem with recursive functions and Reduce.hs"
At the moment the reducer, which tries to inline function calls, fails to detect recursion. This shows up as an infinite loop in the reducer here (in `attrsets.nix`):

[code]

I'll need to pass an environment around of "known functions" that have been introduced by let bindings, and some way of associating the name with the body, so that I know not to initiate the recursive call.

[2018-04-21 18:49] jwiegley opened #189 "Add optional value provenance to the error reporting"
When we're evaluating part of an expression tree, thanks to recursion schemes our subtrees have already been turned into values by that time:

    NIf c t e

Here `c`, `t` and `e` are of type `NValue m`. What this means for error reporting, though, is that the best we can do is display their type and value. Something like, `100 is not a boolean`.

However, we produced those values by similar means

[2018-04-22 07:18] jwiegley commented on #189
I worked on this for a while, and the core types ended up being:

[code]

However, the amount of change needed to support this became too much to finish it in the near term.

[2018-04-22 17:19] mightybyte commented on #157
Here are all the unique things matching `builtins.\w+` that I found in nixpkgs.  This doesn't take `with` and `let` bindings into account, but should be a good start.

builtins.add
builtins.all
builtins.any
builtins.attrNames
builtins.attrValues
builtins.baseNameOf
builtins.catAttrs
builtins.compareVersions
builtins.concatLists
builtins.concatStringsSep
builtins.currentSystem
builtins.currentTime

[2018-04-22 18:11] jwiegley commented on #157
Thanks @mightybyte! I've converted your last comment into a work list.

[2018-04-22 18:12] jwiegley commented on #157
I wonder how `nixPath` differs from `__nixPath`...

[2018-04-22 21:41] jwiegley commented on #189
We now have provenance being recorded in most cases. It just needs to be reported to the user when appropriate and in an informative fashion.

[2018-04-23 17:14] jwiegley commented on #189
This is working now, but can use improvement in the future, but I'll note those in other tickets.

[2018-04-23 17:14] #189 closed, assigned to jwiegley

[2018-04-23 17:17] jwiegley opened #192 "Generalize error reporting and stack frame information"
I plan to move to `Framed e m r`, where r is a data type used to construct frames:

[code]

Then, take the rendering code out of `Stack.hs`, rename that file to `Frames.hs`, and create a new `Render.hs` module to be called from `Main.hs` where the exceptions are caught.

[2018-04-23 17:20] jwiegley commented on #192
The intention is to provide all the information we have, and then to let verbosity flags narrow down the scope of reporting at the last possible moment. This will better support Web UI reporting in the future, as I've thinking about with @ryantrinkle.

[2018-04-23 19:52] jwiegley commented on #171
This is waiting on #105

[2018-04-24 00:12] jwiegley opened #193 "Evaluating nixpkgs leads to a "<<loop>>" while forcing thunks"
Command-line:

[code]

[2018-04-24 00:31] jwiegley opened #194 "Support a client/server model for retaining parsed expression trees"
When invoking `nix-shell`, there is often a multi-second delay while Nix parses and re-evaluates work that gives the same result again and again.

Similar to how `hdevtools` or Java's [nailgun](https://github.com/facebook/nailgun) work, upon the first invocation of `hnix` we could fork off a daemon process that retains all of the parsed expression trees from nixpkgs, and then is used to intercept

[2018-04-24 02:35] imalsogreg commented on #162
o/  I've started working on this at https://github.com/imalsogreg/hnix/tree/fetch-tarball

@jwiegley I tried to write a simple `IO FilePath` action pulling in the url, but the way effects are set up helpfully ruled out that option. To clarify - arbitrary IO can't be done [here](https://github.com/haskell-nix/hnix/blob/c4a79a15b96bc78174da17c068f8334f1c7a357d/src/Nix/Builtins.hs#L789).

So the appr

[2018-04-24 04:47] jwiegley commented on #162
`MonadFile` should remain extremely minimal: it's only used for reading files for the sake of error reporting. `MonadEffects` is the intended place for all other interactions with the outside world.

The idea is that if an evaluator can be written that doesn't need `MonadEffects`, then it will by definition be pure, outside of `MonadCatch` and `MonadFix` and a few other things that can be implemen

[2018-04-24 20:26] jwiegley opened #196 "Build an interactive debugger"
Given the infrastructure we have now, it shouldn't be that hard to add continuations to the execution evaluator (in `Exec.hs`), such that the REPL could provide single-stepping, the ability to inspect the current scope, and to modify values before proceeding to the next step in the evaluation.

[2018-04-24 21:40] jwiegley opened #197 "Add syntactic holes which raise errors with full context information"
Add a token for the symbol '_' such that when the evaluator encounters it, we print everything we know about that point in the code.

This feature could also become the basis for supporting name completion in editors.

[2018-04-24 23:43] shlevy commented on #197
Just FYI, there is some nix code here and there that uses `_` as "unused argument"... Not sure if any of it is in nixpkgs these days but we definitely have some in our infra.

[2018-04-24 23:50] jwiegley commented on #197
Ah, OK. Maybe `__` or `___`?

[2018-04-25 08:06] jwiegley commented on #193
Have got this down to a fairly small reproducing example (497 lines):

https://github.com/haskell-nix/hnix/blob/master/tests/files/loop.nix

[2018-04-25 09:29] Profpatsch commented on #197
Purescript uses `?name`.

Naming “internal” variables like `__var` or `_var` is quite common in nixpkgs.

[2018-04-26 00:19] jwiegley commented on #193
@ryantrinkle The example is now down to just this, any thoughts?

[code]

[2018-04-26 00:30] jwiegley commented on #193
Never mind, I simplified too far. Although `hnix` was giving the same result all along, at some point `nix-instantiate` detected a loop too.

Fortunately I have a Git history of all the modifications I made, so I'll bisect it to find the smallest file where they diverge.

[2018-04-26 00:33] jwiegley commented on #193
Interesting! The commit where they ceased diverging is the commit where i dropped the use of `derivation`....

[2018-04-26 00:33] jwiegley commented on #193
I think that custom forcing code we wrote may be the culprit.

[2018-04-26 02:48] jwiegley commented on #197
For code completion, these holes would be treated as "stop tokens". Immediately upon encountering one, a special exception is throw with the current lexical scope as its argument, allowing a completion list to be built.

Note that completion within dynamic arguments to `with` blocks would still be very tricky, since the visible names would depend on the context of evaluation. Maybe the symbolic ev

[2018-04-26 02:59] jwiegley opened #198 "Support __toString as a special attr set member"
If an attr set contains a member `__toString`, it will be called whenever the attr set is coerced to a string, received the same attr set as its argument. The result is then coerced to a string.

See https://github.com/NixOS/nix/blob/master/src/libexpr/eval.cc#L1538

[2018-04-26 03:04] jwiegley commented on #198
I've added support in Exec.hs, but for now it only applies when coercing for `derivation`.  We need to use this `coerceToString` function in the same places that `nix` does.

[2018-04-26 03:31] #193 closed, assigned to jwiegley

[2018-04-26 03:36] jwiegley commented on #193
@Ericson2314 @hSloan @ryantrinkle So, the fix to this issue (which took at least 20 hours of debugging by way of writing new debug code, so necessity meets mother of invention, etc), proves how subtle and dangerous it can be to use `FromNix` when you need `FromValue`.  Here was the broken code:

[code]

And here's the good code:

[code]

And here's why:

[code]

What kills us in the latter -- **ev

[2018-04-26 04:05] jwiegley opened #199 "Use the new Frames.hs mechanism for low impact tracing code as well"
In addition using the new `NixFrame` type for evaluation and normalization contexts, also use them for simple tracing message so that `-v5` can show what Nix is doing (for example, which files it's importing), even when there is no error that causes context to be displayed. That is, these frames would be rendered as they occur, rather than being stored and rendered later.

[2018-04-26 04:07] jwiegley opened #200 "Increase the performance of parsing and evaluation speed"
Here's the bar:

[code]

[2018-04-26 11:12] domenkozar commented on #197
[code]

Purescript notation sounds promising, since "Nix C++ compatibility" would refuse such syntax.

[2018-04-26 22:44] jwiegley opened #201 "Drop the FromNix type class"
`FromNix` is currently useful for two things: converting an incoming value action into a list or a hashmap of `Text` values. Using `FromValue`, such a recursion requires two steps. This is used by `ToBuiltin` to make it easier to turn native functions over these types into Nix builtins.

However, this type class is dangerous when used incorrectly, with no indication of the danger at any point in t

[2018-04-26 23:10] jwiegley opened #202 "Fix error reporting in tests to use frame rendering"
https://github.com/haskell-nix/hnix/blob/master/tests/Main.hs#L81
https://github.com/haskell-nix/hnix/blob/master/tests/NixLanguageTests.hs#L113

[2018-04-26 23:12] jwiegley opened #203 "Restore use of linter in assertParse"
https://github.com/haskell-nix/hnix/blob/master/tests/NixLanguageTests.hs#L81

[2018-04-26 23:13] jwiegley opened #204 "Move the REPL into the MonadNix monad, rather than IO"
This will allow it share scope with whatever expression was given on the command-line

[2018-04-26 23:14] jwiegley opened #205 "Drop the String and Doc instances for Frame"
All reported frames should use specific types

https://github.com/haskell-nix/hnix/blob/master/src/Nix/Frames.hs#L34

[2018-04-26 23:15] jwiegley opened #206 "Implementation of prettyOriginExpr needs further work"

[2018-04-26 23:16] jwiegley opened #207 "Allow floating point values to be used with builtins.add"

[2018-04-26 23:18] jwiegley opened #210 "replaceStrings should preserve string context information"
That is, it should propagate the DLists, not drop them as it's now doing.

Permalink:
https://github.com/haskell-nix/hnix/blob/1e2bd9eb2f366da7d98f2aee876bc97f6da37707/src/Nix/Builtins.hs#L507-L535

[2018-04-26 23:20] jwiegley opened #212 "What should typeOf report for URIs?"
https://github.com/haskell-nix/hnix/blob/master/src/Nix/Builtins.hs#L736

[2018-04-26 23:21] jwiegley opened #213 "Rewrite fetchTarball to use pipes/streaming"

[2018-04-26 23:25] jwiegley opened #217 "Thunks only report the innermost provenance information"
The depth reported should be configurable

[2018-04-26 23:25] jwiegley opened #218 "Drop bindings in NLet reduction for which no name reference is visible"

[2018-04-26 23:26] jwiegley opened #219 "Perform expression reduction for NHasAttr"

[2018-04-26 23:26] jwiegley opened #220 "Perform expression reduction for NSelect"

[2018-04-26 23:26] jwiegley opened #221 "Perform expression reduction for all the other binary operators"

[2018-04-26 23:27] jwiegley opened #222 "Perform expression reduction for functions that take attribute sets"

[2018-04-26 23:27] jwiegley opened #223 "Only render frames if the frame level is >= the verbosity"

[2018-04-26 23:28] jwiegley opened #224 "Render value provenance differently based on the verbosity"

[2018-04-26 23:28] jwiegley opened #225 "The Generic1 instance for NKeyName is incorrect"

[2018-04-26 23:29] jwiegley opened #226 "Record SourcePos info for attr names created by attrSetAlter"
https://github.com/haskell-nix/hnix/blob/master/src/Nix/Eval.hs#L193

[2018-04-26 23:29] jwiegley opened #227 "Record SourcePos info for attr names created by buildResult"
https://github.com/haskell-nix/hnix/blob/master/src/Nix/Eval.hs#L287

[2018-04-26 23:58] #192 closed, assigned to jwiegley

[2018-04-27 04:58] imalsogreg commented on #213
Duplicate of https://github.com/haskell-nix/hnix/issues/162 (builtins.fetchTarball) ?

[2018-04-27 05:32] #213 closed, assigned to nobody

[2018-04-27 16:19] jwiegley opened #228 "Remove MonadEval, and instead go for a "micro pass" architecture"
Right now the work of `Eval.hs` turns `NExprLoc` trees into some sort of value representation.

For example, `Exec.hs` uses this code to evaluate to `NValue`, which is a "cooked" form of `NExprLoc` that no longer has details in it like name binding, etc., and which reduces internal structures like `[Binding r]` to `HashMap Text r`.

However, the use of type classes to generalize the code in `Eval.

[2018-04-27 23:42] jwiegley opened #230 "Implement builtins.currentTime"

[2018-04-27 23:43] jwiegley opened #231 "Implement builtins.div"

[2018-04-27 23:43] jwiegley opened #232 "Implement builtins.fetchurl"

[2018-04-27 23:43] jwiegley opened #233 "Implement builtins.filterSource"

[2018-04-27 23:43] jwiegley opened #234 "Implement builtins.hasContext"

[2018-04-27 23:43] jwiegley opened #235 "Implement builtins.langVersion"

[2018-04-27 23:43] jwiegley opened #236 "Implement builtins.max"

[2018-04-27 23:43] jwiegley opened #237 "Implement builtins.min"

[2018-04-27 23:43] jwiegley opened #238 "Implement builtins.nixPath"
Is this just an alias for __nixPath?

[2018-04-27 23:43] jwiegley opened #239 "Implement builtins.storeDir"

[2018-04-27 23:43] jwiegley opened #240 "Implement builtins.storePath"

[2018-04-27 23:43] jwiegley opened #241 "Implement builtins.toFile"

[2018-04-27 23:43] jwiegley opened #242 "Implement builtins.trace"

[2018-04-27 23:44] jwiegley commented on #157
These are all broken out into separate issues now.

[2018-04-27 23:44] #157 closed, assigned to nobody

[2018-04-27 23:48] shlevy commented on #238
All of the global `__foo` values are available as `builtins.foo`.

[2018-04-27 23:49] jwiegley commented on #207
The issue here is that we can't use the magical `add'` machinery, but we'll have to turn this into a regular builtin implemented over `NValue m` values, like most of the other builtins, so that it can dispatch differently based on the Nix types of the arguments.

[2018-04-28 03:52] #238 closed, assigned to nobody

[2018-04-28 03:55] #235 closed, assigned to nobody

[2018-04-28 03:57] jwiegley opened #243 "Support all of the primops"
https://github.com/NixOS/nix/blob/master/src/libexpr/primops.cc#L2084

- [x] __add
- [ ] __addErrorContext
- [x] __all
- [x] __any
- [x] __attrNames
- [x] __attrValues
- [x] __catAttrs
- [x] __compareVersions
- [x] __concatLists
- [x] __concatStringsSep
- [x] __currentSystem
- [x] __currentTime
- [x] __deepSeq
- [x] __div
- [x] __elem
- [x] __elemAt
- [ ] __exec
- [x] __fetchurl
- [x] __filter
- [

[2018-04-28 03:58] jwiegley commented on #243
Many of these just seem to be alternative global names for things that live in `builtins`.

[2018-04-28 10:28] shlevy commented on #243
*All* of them are alternative global names for things that live in builtins :smile: https://github.com/NixOS/nix/blob/8e7d77d4944d7903f64dc8d61a43f81221cd4aea/src/libexpr/eval.cc#L416-L419 (`baseEnv.values[0]` is `builtins`)

[2018-04-28 12:43] mightybyte opened #244 "Build a web-based REPL so we can evaluate nix expressions in the browser"
Issue #204 will probably make some of this work easier.

[2018-04-28 12:44] mightybyte commented on #244
I have started working on this as a separate project [here](https://github.com/haskell-nix/hnix-web-repl)

[2018-04-28 14:10] jwiegley commented on #243
I've also checked the ones that will be implemented once other issues are resolved.

[2018-04-28 17:10] jwiegley opened #245 "Get string coercions right"
According to @shlevy , there are 2 axes of string coercion:

  - `coerceToString` + `coerceMore`: Do I coerce integers? Do I recurse into lists?
  - `addToStore`: If coercing a path, do I just convert it into a string, or add it to the store?

There are several string coercion contexts:

  - `toString`: `coerceMore` = true, `addToStore` = false
  - `${`: `coerceMore` = false, `addToStore` = true

[2018-04-28 19:32] kerbyferris commented on #241
I can give this one a try.

[2018-04-28 19:41] gbwey9 commented on #242
i am working on this

[2018-04-28 20:35] timsears commented on #237
min is not an attribute of builtins so we don’t need to implement it.

[2018-04-28 20:36] timsears commented on #236
max is not an attrbute of builtins so we don’t need to implement it.

[2018-04-28 20:36] #237 closed, assigned to nobody

[2018-04-28 20:36] #236 closed, assigned to nobody

[2018-04-28 20:36] jwiegley opened #246 "Implement top-level __addErrorContext"

[2018-04-28 20:36] jwiegley opened #247 "Implement top-level __exec"

[2018-04-28 20:36] jwiegley opened #248 "Implement top-level __findFile"

[2018-04-28 20:36] jwiegley opened #249 "Implement top-level __importNative"

[2018-04-28 20:36] jwiegley opened #250 "Implement top-level __mul"

[2018-04-28 20:36] jwiegley opened #251 "Implement top-level __path"

[2018-04-28 20:36] jwiegley opened #252 "Implement top-level __unsafeDiscardOutputDependency"

[2018-04-28 20:36] jwiegley opened #253 "Implement top-level __valueSize"

[2018-04-28 20:36] jwiegley opened #254 "Implement top-level placeholder"

[2018-04-28 20:37] jwiegley commented on #243
Added as separate issues.

[2018-04-28 20:37] #243 closed, assigned to nobody

[2018-04-28 20:40] hSloan commented on #230
I'll pick this one up

[2018-04-28 20:40] timsears commented on #231
working on this at bayhac today.

[2018-04-28 20:59] imalsogreg opened #255 "Add/document string context propagation"
@shlevy

[2018-04-28 21:05] wavewave commented on #231
oh. sorry. i didn't realize this comment and made a PR #256.

[2018-04-28 21:13] gdevanla commented on #240
I will give this a try.

edit: not trying this anymore

[2018-04-28 21:31] shlevy commented on #249
@jwiegley Removed this from BayHac 2018, we need to decide if we want to support some kind of haskell plugin interface.

[2018-04-28 21:31] wavewave commented on #232
i am working on this issue.

[2018-04-28 21:36] gbwey9 commented on #247
i am going to try working on this one

[2018-04-28 21:38] shlevy commented on #254
@gdevanla is working on this.

[2018-04-28 21:41] wavewave commented on #232
#258 implements this.

[2018-04-28 21:41] shlevy opened #259 "extraBuiltins functionality"
nix-plugins adds builtins.extraBuiltins, which evaluates a user-configured nix expression with the unsafe `exec` builtin passed, to allow the user to add extra builtins in a safe way. We should have this available in hnix somehow, without waiting until we have a haskell plugins solution

[2018-04-28 21:43] shlevy commented on #212
URIs are just syntax sugar for strings.

[2018-04-28 21:45] wavewave commented on #232
ok. #258 does not implement the function truly.

[2018-04-28 21:58] shlevy commented on #207
@timsears is working on this.

[2018-04-28 22:18] rpglover64 commented on #239
I'll take this.

[2018-04-28 22:18] shlevy opened #260 "Implement top-level __foo for builtins.foo"

[2018-04-28 22:21] #144 closed, assigned to nobody

[2018-04-28 22:32] kerbyferris commented on #241
Nvm, best to try a different one. Progress made: Probably needs a new monad effect, and likely involves creating a temp file requiring MonadMask. Currently using MonadCatch

[2018-04-28 22:38] jwiegley commented on #212
[code]

[2018-04-28 22:38] #212 closed, assigned to nobody

[2018-04-28 22:38] geyer commented on #253
I start working on this.

[2018-04-28 22:39] jwiegley commented on #204
I'll work on this one today.

[2018-04-28 23:07] jgertm commented on #204
Here, take this:

[code]

[2018-04-28 23:27] #204 closed, assigned to nobody

[2018-04-29 00:06] wavewave commented on #232
new partial implementation #265.  getURL is introduced and does actual fetching. Since getting correct hash and /nix/store path is not implemented, this task cannot be completed yet.

[2018-04-29 00:10] jwiegley opened #266 "Create a helper functions for checking members of an attrset"
Many functions require certain members of attrsets, and report an error if it isn't found. Abstract this into its own helper function to hide the error handling.

[2018-04-29 00:12] shlevy commented on #260
Already fixed

[2018-04-29 00:12] #260 closed, assigned to shlevy

[2018-04-29 00:13] #253 closed, assigned to nobody

[2018-04-29 00:13] jglukasik commented on #128
I started looking into this today. Haven't made much progress, but I'm getting more familiar with the codebase. Will try again tomorrow.

[2018-04-29 01:49] jwiegley opened #268 "Create a MonadEffects wrapper instance that selectively reports all effects"

[2018-04-29 01:50] jwiegley commented on #128
Great! Once this is closed we’ll be able to turn on the full language tests for Travis!

[2018-04-29 06:34] #202 closed, assigned to jwiegley

[2018-04-29 06:41] mightybyte commented on #128
@jglukasik Definitely ask for some help from someone on this tomorrow.  @shlevy will have all the knowledge you need on the nix side of things.  It would be great to get this one finished this weekend.

[2018-04-29 13:21] shlevy commented on #255
Hoping to tackle this with @gbwey9 today

[2018-04-29 17:26] #239 closed, assigned to nobody

[2018-04-29 18:24] timsears commented on #250
working on it at bayhac

[2018-04-29 18:25] shlevy commented on #251
Dup of #128

[2018-04-29 18:25] #251 closed, assigned to nobody

[2018-04-29 20:04] rpglover64 opened #273 "Implement builtins.builtins"
Probably not useful, except for completeness.

Can't be straightforwardly added to `builtinsList` because it needs the builtins reference produced by the `builtins` function.

[2018-04-29 22:51] jglukasik commented on #128
After some discussion with @mightybyte , we've realized this might be a bit too large of a first change for me. I'll let someone else tackle this.

[2018-04-29 22:56] mightybyte opened #274 "Fix eval-okay-regex-split regression"
When we moved the submodule to depend on haskell-nix/nix we lost some work I had done in my fork:

https://github.com/mightybyte/nix/tree/for-hnix

[2018-04-29 23:24] jwiegley commented on #274
Nice, thanks!

[2018-04-30 02:03] jwiegley commented on #128
I'm going to work on this on the plane tomorrow.

[2018-04-30 02:06] jwiegley opened #276 "Create a 'find' like utility for browsing available attribute paths"
This would be a custom normalization routine (sensitive to loops, like `forceEffects`) that would recursively descend a top-level tree (such as `<nixpkgs>`) in order to report every attribute reachable from the top-level set.  If we accept arguments in the spirit of GNU find, we could search for all paths under `haskellPackages`, for example.

Once this exists and is implemented as a "recursing fi

[2018-04-30 02:09] jwiegley commented on #276
If @mightybyte uses `streaming` to implement `fetchTarball`, then I'll likely port hierarchy to only need `streaming` as well.

[2018-04-30 04:38] rpglover64 opened #277 "builtins.div handling of zero"
`hnix` differs from `nix-instantiate` in three cases that I've found; one of these is almost certainly a `nix` bug.

[code]

Note, this was tested on commit 30dcb1cf98da9df75f3665885956407fe52ebdce

[2018-04-30 13:22] shlevy commented on #128
@jwiegley This requires nar serialization, which @imalsogreg is working on

[2018-04-30 16:24] jwiegley commented on #128
I realized that soon after looking into it, so I’m going to hold off and leave you guys to it.

[2018-04-30 16:25] jwiegley commented on #128
@shlevy  since were not reimplementing the store, what are you think about binding to libstore through the FFI?

[2018-04-30 16:33] ryantrinkle commented on #128
We could also shell out as I did for derivationStrict; it's dirty, but if it's easier it might be worth it since we should eventually try not to have a dependency at all.

[2018-04-30 17:53] jwiegley opened #279 "derivationStrict passing invalid characters to nix-instantiate"
@ryantrinkle When I run:

[code]

I get:

[code]

(The better error report is a part of PR #278)

[2018-04-30 18:30] jwiegley commented on #128
I’m fine with shelling out right now, since it would let us move on to other problems.

[2018-04-30 20:55] ryantrinkle commented on #279
Possibly a pretty printer error?  There shouldn't be any escaping going on.

[2018-04-30 23:19] jwiegley opened #280 "eval-okay-getattrpos-undefined"
This appears to be a new test in `nix`:

[code]

[2018-05-01 13:18] shlevy commented on #128
Eh, libnixstore isn't really stable at all and is not a nice interface at all. Not sure why we'd prefer that to implementing the daemon protocol.

[2018-05-01 14:22] ryantrinkle commented on #128
@shlevy Do you think it makes sense to shell out in the immediate future to get this working, and then use the daemon protocol as the next step?

[2018-05-01 14:37] shlevy commented on #128
If that gets us something useful, sure. First step of the required logic to do readonly mode properly (so no need to talk to the daemon) is up at https://github.com/haskell-nix/hnix-store/pull/7

[2018-05-01 19:15] mightybyte commented on #276
@imalsogreg is working on fetchTarball.  I probably won't get around to doing anything with the `streaming`  port any time soon.

[2018-05-01 20:10] jwiegley commented on #276
@mightybyte No rush. I finished my port of `hierarchy` to streaming, and will release it soon to Hackage as `streaming-hierarchy`. I intend to use it in our implementation of `filterSources` too.

[2018-05-01 23:43] hSloan commented on #241
I'm picking this one up.

[2018-05-02 07:11] jwiegley commented on #276
I've made progress on this issue, available as a new `--find` option. However, I haven't figured out an intelligent way to know when to recurse sub-attrsets. Clearly `stdenv` shouldn't be recursed every time it's encountered. I have some code to try to attempt to force everything breadth-first, so that we never descend into a thunk we've already forced before. However, this causes `haskellPackages

[2018-05-02 07:11] #266 closed, assigned to nobody

[2018-05-02 08:02] angerman opened #282 "Autoquoting"
When using `hnix` in [Cabal2Nix](https://github.com/angerman/Cabal2Nix), I have this rather annoying construct
[code]
in [Cabal2Nix.Util](https://github.com/angerman/Cabal2Nix/blob/a3930a5d06a55554f45a23ccdcad8568a0ad1535/lib/Cabal2Nix/Util.hs)

I use this to sanitize various names that might not end up being allowed symbols. Mostly on the LHS of binds.

I wonder if we should turn symbols that are

[2018-05-02 13:25] shlevy commented on #282
I'd hope the pretty-printer does escaping already?

[2018-05-02 13:39] Ericson2314 commented on #282
Yeah, last I checked I think Nix allows anything but absolutely empty string as an attribute name.

[2018-05-02 13:44] angerman commented on #282
Not so much :(

[code]

the last one might be one that ends up with unexpected results.

[2018-05-02 13:46] Ericson2314 commented on #282
@angerman I mean "semantically". The quote is parsed away:

[code]

[2018-05-02 13:49] angerman commented on #282
@Ericson2314 Ahh ok ;-)

[2018-05-02 14:40] Profpatsch commented on #282
@angerman I’m not sure if that’s exactly your use-case, but this commit should go into the next release: https://github.com/jwiegley/hnix/commit/8b4c137a3b125f52bb78039a9d201492032b38e8

[2018-05-02 14:46] angerman commented on #282
@Profpatsch cool! Does it do LHS of binds as well?
e.g.
[code]

my use case is mostly in translating `cabal` expressions to `nix` expressions. And `parsec` has some really great `test-suite` name: http://hackage.haskell.org/package/parsec-3.1.13.0/parsec.cabal

Where I end up hand-quoting the key (as I didn't want to add `quoted` for each and every key...)
https://github.com/angerman/hackage.nix/b

[2018-05-02 14:51] adnelson opened #283 "NAR and NAR export serialization code"
Maybe related to #128, maybe not, but I thought I'd ask:

I have code for serializing and deserializing NARs and "exported" NARs (including metadata) that I reverse engineered from the C++ implementation a while ago. It currently lives here: https://github.com/adnelson/nix-binary-cache/blob/master/src/Nix/Nar/Serialization.hs
I'm not sure if this already being worked on, or where it would fit into

[2018-05-02 15:16] Profpatsch commented on #282
No, but on first glance it looks to me like the left side of `$=` could benefit from that logic as well. @jwiegley what do you say?

[2018-05-02 16:26] mightybyte commented on #283
Pinging @imalsogreg

[2018-05-02 16:36] adnelson commented on #283
Maybe this would actually be better suited to the `hnix-store` repo... 🤔

[2018-05-02 19:08] adnelson commented on #283
Posted there, closing here :)

[2018-05-02 19:08] #283 closed, assigned to nobody

[2018-05-02 20:20] jwiegley commented on #282
Sounds reasonable to me.

[2018-05-02 20:40] mightybyte opened #284 "Implement a Lift instance for NExpr in a way that works with GHC 8.0"
The current implementation uses `Type.Reflection` which does not work with GHC 8.0:

https://github.com/haskell-nix/hnix/blob/minimize-deps/src/Nix/Expr/Types.hs#L154

Building with GHC 8.0 is blocking work on a web-based REPL for nix expressions, which has a lot of great potential.  If anyone can implement this instance in an 8.0-compatible way, that would be a big help.

The Lift type class is d

[2018-05-03 07:04] angerman commented on #282
@Profpatsch @jwiegley so who's going to make that change? Should I make that or is that going to be grafted onto jwiegley/hnix@8b4c137 by someone?

[2018-05-03 11:14] Profpatsch commented on #282
@angerman please, do. I’ll review it. :)

[2018-05-03 18:40] Fresheyeball opened #290 "Gitter link broken in README.md"

[2018-05-03 18:42] #290 closed, assigned to nobody

[2018-05-04 04:36] jwiegley opened #292 "Put the evaluated object into scope when using --repl --eval"
Pinging @hSloan, who asked for this feature.  It should just be a matter of checking whether the evaluated object is an attrset, and if so, wrapping the call that enters the repl in a call to `pushScope`.

[2018-05-04 17:56] jwiegley opened #294 "Add typing information for all builtins (revisit after #1016)"
For example, builtins.add would have the type: TMany [typeInt ~> typeInt, typeInt ~> typeFloat, typeFloat ~> typeInt, typeFloat ~> typeFloat]

[2018-05-04 17:56] jwiegley opened #295 "Write a pretty printer for types"

[2018-05-04 17:56] jwiegley opened #296 "Switch from PLAN.org in hnix to GitHub projects"

[2018-05-04 17:56] jwiegley opened #297 "Add an option to completely disable printing of locations"
This is needed for editor support, where the location can be visited instead of displayed

[2018-05-05 18:26] jwiegley opened #300 "Create a code coverage tool"
Because of the program reduction work (`--reduce`), we have everything we need to build a coverage analysis tool.  This can answer questions like, "did I evaluate this line of code?" But it could also do things like report after any evaluation:

  - Which files were imported?
  - Which builtins were called?
  - What store effects occurred?
  - How many branches were taken?
  - Which derivations we

[2018-05-06 17:41] #158 closed, assigned to nobody

[2018-05-06 17:41] #280 closed, assigned to nobody

[2018-05-06 18:36] jwiegley opened #304 "Pretty printing test error: --quickcheck-replay=678297"

[2018-05-06 18:37] jwiegley opened #305 "Restore the PrettyPrintTests on CI"
After we've gone through a few more thousand runs of the pretty print tests cleanly, we should re-enable these tests for CI.

[2018-05-06 18:39] #296 closed, assigned to nobody

[2018-05-07 06:26] jwiegley commented on #105
This works well enough now to close this issue in favor of other issues with the implementation.

[2018-05-07 06:26] #105 closed, assigned to jwiegley

[2018-05-07 06:28] jwiegley opened #307 "Would semantic subtyping improve type checking of Nix files?"
As described in this paper: http://prosecco.gforge.inria.fr/personal/hritcu/publications/dminor-jfp2012.pdf

This would use Z3 to propagate subtyping requirements that would arise from which builtins are used (for example, if a given builtin requires a certain attribute in a set, we could propagate out the requirement until we discover whether the attribute is passed when it needs to be).

[2018-05-08 01:25] jwiegley opened #308 "Don't encode NUri as a separate atom type, they are just strings"
The text `http://foo.com` happens to just be sugar for `"http://foo.com"`, and nothing more, says @shlevy .

[2018-05-08 22:37] #308 closed, assigned to nobody

[2018-05-09 02:43] Ekleog commented on #57
Hmm, but then the issue is to decide to which lexer token to assign the comments?

For a few comments it's easy, like:
[code]
[code]
[code]
[code]

But for others even as a human without additional context I couldn't guess to which token the following are to be assigned?
[code]
[code]

Then I guess it's just good enough to autocratically pick one and say “this is it” :)

[2018-05-09 06:16] jwiegley opened #309 "Replace every use of ErrorCall with a custom Exception value"
Rather than pass strings with rendered components to `ErrorCall`, every possible error or piece of information raised within `hnix` should use a specific constructor, retaining as much information as possible about the context of that information.

[2018-05-09 16:52] jwiegley commented on #305
I've run into a few corner cases so far that prevent this from happening. Try running with `PRETTY_TESTS=10000` and you're sure to run into one of them.

[2018-05-09 21:39] jwiegley opened #310 "Problem with strictness of attr set creation"
Pinging @shlevy @ryantrinkle @LnL

Right now the following eval test breaks with a `<<loop>>` exception:

[code]

I'm not sure where we're being too strict yet, since we should be able to return the spine of the attrset immediately here, before attempting to evaluate any of the leaves.

[2018-05-09 21:57] jwiegley opened #311 "Building with --flags=tracing no longer does anything"
I just noticed today that when I build with tracing enabled, I see no tracing.

[2018-05-09 22:21] #310 closed, assigned to nobody

[2018-05-10 08:55] jwiegley commented on #52
We now support capturing of Haskell bindings, and Nix expression patterns:

[code]

[2018-05-10 08:57] #250 closed, assigned to nobody

[2018-05-10 08:58] #231 closed, assigned to nobody

[2018-05-10 08:58] #242 closed, assigned to nobody

[2018-05-10 08:59] #247 closed, assigned to nobody

[2018-05-10 08:59] jwiegley commented on #228
This really isn't lending itself to composition as much as I had wanted it to, so I'm closing unless something else becomes obvious.

[2018-05-10 08:59] #228 closed, assigned to jwiegley

[2018-05-10 09:00] #226 closed, assigned to jwiegley

[2018-05-10 09:00] #227 closed, assigned to jwiegley

[2018-05-10 09:00] #230 closed, assigned to nobody

[2018-05-10 09:00] #232 closed, assigned to nobody

[2018-05-10 09:01] #207 closed, assigned to nobody

[2018-05-10 09:01] #205 closed, assigned to jwiegley

[2018-05-10 09:01] #68 closed, assigned to nobody

[2018-05-10 09:02] #132 closed, assigned to nobody

[2018-05-10 09:03] #164 closed, assigned to jwiegley

[2018-05-11 19:00] jwiegley opened #312 "Guard MIN_VERSION_serialise by ifdef, in case it's not available"

[2018-05-12 18:24] #312 closed, assigned to nobody

[2018-05-12 19:05] mightybyte opened #314 "Make it easier to build with binary caches"
Using binary caches is crucial to working with nix.  If you don't, you can easily end up with builds that take many hours.  Because of this, getting set up to work on a new project that uses nix often requires you to edit the `nix.conf` file and add the appropriate cache and public key.  This may be ok in some cases but is sometimes too cumbersome.  HNix should make it easy to add new binary cache

[2018-05-13 20:20] shlevy commented on #314
Binary caches are fundamentally a trust issue, so they can't be automatic. In any case, they're a property of the nix-daemon, not the evaluator.

[2018-05-13 23:54] ryantrinkle commented on #314
Agreed regarding trust, but I think being able to programmatically *check*
whether a cache is working would be good. For most reflex-platform users,
an error is better than a 12 hour build

On Sun, May 13, 2018, 16:20 Shea Levy <notifications@github.com> wrote:

[2018-05-14 01:22] shlevy commented on #314
@ryantrinkle Agreed. FWIW it seems like such functionality can be independent of `hnix` and simply depend directly on `hnix-store` once it's ready, though for usability purposes it's probably nice to have them in the same program namespace.

[2018-05-14 01:23] shlevy commented on #314
I wonder if we should have a separate `porcelain` or `exes` project/package...

[2018-05-14 03:37] jwiegley commented on #314
@shlevy Yes to separate porcelain, but when the project has matured a bit.  Nix still makes  working on two projects simultaneously unnecessarily painful.

[2018-05-14 13:14] mightybyte commented on #314
As a fundamental trust issue, maybe it's not desirable to have projects turn on caches transparently, but it sure would be nice to be able to say `nix-build --cache http://mycache.mydomain.com` and have that just work.  If the cache is explicitly requested by the user like that, it seems to me that you wouldn't need to explicitly specify a public key since you're tacitly saying that you trust the

[2018-05-14 13:29] domenkozar commented on #314
I'm working on something to make it really easy to add binary caches (have nix.conf parser, etc).

[2018-05-14 13:33] shlevy commented on #314
@mightybyte you can already specify substituters on the command line... nix-build --substituters https://example.com/nix-cache?trusted=1

[2018-05-14 13:44] mightybyte commented on #314
@shlevy Oh nice!  I hadn't seen that.  @jwiegley perhaps you can try that approach and see if it works as an alternative to what I hacked up for `hnix-web-repl`?

[2018-05-14 13:50] mightybyte commented on #314
@shlevy FYI, the man pages for `nix-build` and `nix-shell` do not mention the `--substituters` option.

[2018-05-14 14:17] shlevy commented on #314
@mightybyte I don't know if it's documented anywhere, but in 2.0 nix.conf settings all get a corresponding command line flag. The existence of `--substituters` comes from the existence of the `substituters` nix.conf option.

[2018-05-14 17:35] jwiegley commented on #314
@mightybyte Giving it a try now. The old way of doing it wasn't working on Travis, causing the ghcjs build to time out every attempt.

[2018-05-15 18:15] johnchildren commented on #294
I'd be interested in attempting to do this, but am very much still a Haskell rookie.

Where would be the best way to add this? My naive approach would be to just add a HashMap in `Nix.Types.Builtins` with the information, but I'm guessing you would want to make sure that each builtin defined in `Nix.Builtins` has an associated type?

[2018-05-15 18:27] jwiegley commented on #294
Yes, my inclination would be to add a `Type` member to the existing `Builtin`  record, which forces every Builtin to have a type.  Then, when we go to produce the attrset of builtins, we produce the HashMap you're thinking of at the same time, and make it available via some new function like `baseEnv`, called maybe `baseTypes`.

[2018-05-16 17:45] johnchildren commented on #294
I think I will attempt to try this at the weekend then! Thank you for the pointers.

[2018-05-16 19:00] alexfmpe opened #318 "Collect all paths read during evaluation of an expression"

[2018-05-16 19:03] alexfmpe commented on #318
I'm working on this

[2018-05-16 19:10] jwiegley commented on #268
@alexfmpe I had intended to create an `Effects` `Exception` type in order to record these using `withFrame`, such that a new `--effects` option (or perhaps just `-v3` with `--trace`) will report them.

[2018-05-17 08:41] drets commented on #248
If it is still relevant I would like to try to tackle it.

Should it work something like this?
[code]

[2018-05-17 12:14] shlevy commented on #248
@drets No, `findFile` takes an explicit set corresponding to the NIX_PATH. `nix-instantiate --eval -E builtins.nixPath --strict` can show you what that argument looks like, basically it's a list of sets, where each set has a `path` attribute and an optional `prefix`. Given `prefix = "foo"` and `path = /bar`, `<foo/baz>` will resolve to `/bar/baz`. Given no `prefix`, or an empty string, and `path =

[2018-05-17 14:43] drets commented on #248
@shlevy, thank you.

It seems, I figured out how it works:
[code]

[2018-05-20 11:38] johnchildren commented on #294
Okay, so I've started trying to do this using [primops.cc](https://github.com/NixOS/nix/blob/b37f5ae31dc0a0cbfa7e5bbf6b199e7e39c287ac/src/libexpr/primops.cc) as a reference, along with the nix manual, but I had a few questions about how to contribute cleanly.

I've had to use a qualified import as `TSet` and `TList` are ambiguous, with imports `Nix.Value`, but have temporarily used `T` as the qual

[2018-05-20 16:02] jwiegley commented on #294
How about this for a way to avoid ambiguity: We create a set of function exports from the `Type` module that represent all of the possible types using a consistent naming scheme:

  - intT
  - floatT
  - setT
  - listT
  - etc.

Then we can just hide the `Type` type and its constructor to avoid ambiguity.  This will also serve to make the declared types a bit more compact and readable, in my opini

[2018-05-20 18:34] johnchildren commented on #294
Okay, I like this a lot, will experiment and see what I can do!

[2018-05-21 04:47] #248 closed, assigned to nobody

[2018-05-26 11:00] CMCDragonkai opened #321 "Trying to understand the `NExprF` typeclass deriving mechanics"
It appears that `Data.Functor.Classes` from transformers and `derive*` functions from deriving-compat are used together in order to help derive Prelude typeclasses for the type-level fix data structures, specifically `NExprF` (I like to think that this the AST). My understanding of this pattern comes from `recursion-schemes` package (specifically this blog post: http://blog.sumtypeofway.com/an-int

[2018-05-26 21:37] timsears commented on #321
did you read [this post](http://newartisans.com/2018/04/win-for-recursion-schemes/) by @jwiegley ?

[2018-05-27 01:41] CMCDragonkai commented on #321
I just did. Thanks for pointing it out, fascinating. However it didn't talk about all the deriving typeclass boilerplate that is in the code.

[2018-05-28 19:46] jwiegley commented on #321
@CMCDragonkai Hi, I'm not clear on the exact question being asked. Can you quote some of the code you'd like explained?

Btw, NExprF isn't the AST, it's more like the "kernel" of the AST.  When `Fix` is applied to this kernel, then you have the tree structure that defines the "T" in AST.

[2018-05-29 10:47] CMCDragonkai commented on #321
Hi @jwiegley I meant things like these:

https://github.com/haskell-nix/hnix/blob/738ef09bf9add0f0f21d7a72dd5ce31dbd200f67/src/Nix/Expr/Types.hs#L440-L462

Specifically why is this functionality is in `deriving-compat`. Also for myself as someone who didn't know about these features, how would I have ever known to use `deriving-compat` to deal with this problem, since the `deriving-compat` package

[2018-06-06 20:32] ghost commented on #233
Hi I would like to try to pick up this issue. I've looked through the builtin.hs file would the end result be adding the function into builtinsList is this the right place to start looking?

[2018-06-07 06:43] angerman opened #322 "Changelog 0.4 -> 0.5?"
Is there a `CHANGELOG` available somewhere?
It seems that `!.` is gone, as well as the signature of `mkParamset` changed.

btw.: do we have some automated way to diff haskell APIs?

[2018-06-07 15:02] mightybyte commented on #322
@angerman There's http://hackage.haskell.org/package/hackage-diff

[2018-06-08 14:04] thufschmitt commented on #105
Just stumbled on this issue, but since I'm the one who did the talk, I might be able to answer this:

I'm well aware of HM, but we can't really use it here for (mostly) two reasons:

- We have a runtime representation of your types, and unification-based algorithms can't really take that into account. For example, if I have `x: if isInt x then (x+1) else (x && 1)`, I would have to unify the type o

[2018-06-08 23:27] hSloan commented on #294
@johnchildren Hey, how's it going so far with this?

[2018-06-08 23:45] hSloan commented on #292
Thanks for reminding me, I'm picking this one up.

[2018-06-09 05:32] jwiegley commented on #105
@regnat Hi, and thanks for joining the discussion, you give some valid points. I wonder, though, whether HM can still be useful as a linting tool by adding restrictions that don't exist in the Nix language itself, like the expectation that both branches of an if statement must be of the same type.

[2018-06-09 05:36] jwiegley commented on #233
Yes, you should be able to just follow the established pattern.

[2018-06-09 10:21] johnchildren commented on #294
A little mixed, I wasn't able to work on it as much as I would have liked the past few weeks, but picked it up again as I am currently at ZuriHac. I initially had some trouble groking the way heterogenous lists and attribute sets should be typed, but I think I understand what I was doing wrong now. The issue is that in order to define some of the types of the builtins I may need dependent types, w

[2018-06-09 13:17] Profpatsch commented on #105
Personally, I tend to write all my nix expressions so that they could in theory pass HM type checking. Aka I avoid most dynamic features, with the exception of maybe accessing fields of attributes by using a string (`myset.${somestringvariable}`).

There is discussion about adding a similar feature to `dhall`, maybe their way of type-checking such constructs can be used as well: https://github.com

[2018-06-09 17:47] jwiegley commented on #105
@Profpatsch Agreed, I tend to do the same. Most of the lists I work with in Nix are always homogeneous, so that's another typing restriction we can add for "sane Nix".

The one I've found to be the most tricky -- and unfortunately it's used everywhere -- is dealing with sets. Not only are sets heterogeneous, but the set of keys they contain is an aspect of the "type" in some contexts (such as argu

[2018-06-11 07:33] thufschmitt commented on #105
@jwiegley Indeed, a simple HM-style type-system can be enough for a linting tool since most of the time you don't need the weird-crazy dynamic features of Nix.

Regarding sets, you can use row polymorphism which allows you to encode (to some extent) extensible records in an HM type-system. You can find an introduction [here](https://www.cl.cam.ac.uk/teaching/1415/L28/rows.pdf) (or an old proposal

[2018-06-11 09:20] picnoir commented on #234
Looks like https://github.com/haskell-nix/hnix/pull/270 fixed this, I think we can close this issue.

[2018-06-11 10:19] picnoir commented on #277
I'm giving a go to this one.

[2018-06-11 13:19] picnoir commented on #294
I am fixing the kinda related #277 and was actually thinking about adding some type information. Did you made progress on this?

PS: I was also at ZuriHac, too bad we did not meet.

[2018-06-11 15:38] johnchildren commented on #294
Ah that's a shame, I considered asking in the #nix channel for help but was moving between a few different rooms and didn't commit as much time to this issue as I could have.

I didn't manage to make much progress, but most builtins involve a list or set in some way so I can't see a way to type them easily. The small fruit of my efforts can be seen [here](https://github.com/haskell-nix/hnix/compar

[2018-06-11 15:41] johnchildren commented on #294
The other issue I encountered was typing functions that performed some kind of type inspection, for example `toString`, `toXML` or `isBool`. These functions could be defined with type vars but they would typically have type classes of some kind in Haskell (i.e. `Show` for to `toString`), but unfortunately we don't have access to an equivalent.

A lot of these functions will work on any possible ty

[2018-06-11 18:22] jwiegley commented on #294
You should be able to type them with variables:

[code]

I haven't tried this manually before, but you can use the output from `--check` on test functions to verify:

[code]

Where `typeBool` is an alias for `TCon "boolean"`.

[2018-06-11 18:26] #234 closed, assigned to nobody

[2018-06-12 19:41] infinisil opened #323 "Evaluating 'system' of nixpkgs fails with assertion"
Just running

[code]
gives this error:
[code]

- hnix: 0.5.1 from
- nixpkgs: be5e8faafc69195ef47e9cf6b92806cf427656e1

[2018-06-12 21:01] #277 closed, assigned to nobody

[2018-06-14 01:35] nh2 commented on #16
@jwiegley One possible reason for slowness: `Data.Text.readFile`. Using `ByteString.readFile` and `decodeUtf8'` might be significantly faster, as it doesn't go thorugh the encoding-based `Handle` code path, which is known to be slow.

https://github.com/haskell-nix/hnix/blob/9931386c8525defb46ea663acf1c2d7c37855b3b/src/Nix/Parser.hs#L425

https://www.snoyman.com/blog/2016/12/beware-of-readfile

[2018-06-14 19:00] jwiegley commented on #16
@nh2 Nice idea, but it didn't make a change in the overall speed. The profiling results show that it's due to allocation in megaparsec, rather than decoding in readFile.

[2018-06-14 19:09] jwiegley commented on #16
@nh2 And strangely enough, using Text.readFile it takes 45s to parse all of nixpkgs, but following Michael's recommended approach takes 85s.

[2018-06-15 02:59] nh2 commented on #16
@jwiegley I can't reproduce it with the following code:

[code]

and a 600 MB example text file:

[code]

So for me `T.decodeUtf8' <$> BS.readFile path` is 3x faster than `T.readFile`.

[2018-06-15 13:25] nh2 commented on #16
@jwiegley A few more points

* As per the blog post, `T.readFile` is also problematic from a correctness point of view
* What environment are you running this in? `T.readFile` uses Handle's encoding guessing logic, results may vary based on your `LC_*` or other environment variables.
* Can you also compare with `rio`'s [`readFileUtf8`](https://www.stackage.org/haddock/lts-11.13/rio-0.1.2.0/src/RIO

[2018-06-17 12:58] johnchildren commented on #294
Ah thanks, using `--check` to see is a really good idea, I'm going to try and focus on writing some automated tests for this in the coming week, but unsure of the best approach yet.

[2018-06-25 18:07] Profpatsch opened #326 "SourcePos leaks into the inherit shorthand"
`inherit :: [NKeyName e] -> SourcePos -> Binding e`
where before it was just `inherit :: [NKeyName e] -> Binding e`.
Same with `inheritFrom`.

As the shorthands module is for generating nix expression, not defaulting to `nullPos` doesn’t really make sense (since the user is not a parser and has no access to a filename or source position).

[2018-06-25 20:41] Profpatsch opened #327 "NSelect precedence in pretty printer is broken"
[code]

That’s because this is commented out:

[code]

[2018-06-25 21:52] jwiegley commented on #327
It's commented out because it's handled specially by the parser implementation itself. Uncommenting that block will not work.

If you print the raw expression, is it associated correctly?

[2018-06-26 15:32] Profpatsch commented on #327
We get:

[code]

Looks okay, so I assume it’s a problem with the pretty-printer.

[2018-06-29 16:37] Profpatsch opened #328 "Split parser & types out into different packages"
With the implementation of an evaluator and various utilities picking up steam, the dependency closure has increased substantially, which means the possibility of the package building e.g. on nixpkgs master has decreased considerably.

Growth of direct dependencies:

I suggest splitting the parser and maybe the types out into their own packages, while keeping all three here in one git repository.

[2018-06-29 20:30] jwiegley commented on #328
We will very likely perform such a split in the near future, after nixpkgs evaluates. If we do it too early, before there will be any real "customers", then we'd just be slowing down development for no real gain.

[2018-06-30 17:58] domenkozar commented on #314
@jwiegley happy to help setup https://cachix.org/ - it should get CI times down to ~3min.

[2018-06-30 18:05] jwiegley commented on #314
@domenkozar Let's do it. It should require simply modifying `build.sh`.

[2018-07-09 22:59] sboosali commented on #284
@mightybyte if you can explain to me what's needed:

https://github.com/haskell-nix/hnix/blob/master/src/Nix/Expr/Types.hs#L159 (the other link in this thread seems to be on a dead branch)

I can try to do this (as a first issue on this project). That is, does Reflection only work with ghc8+? Or does the usage in this project specifically not work in ghc8.0?

[2018-07-10 06:21] jwiegley commented on #284
Actually, I don't think this is needed anymore. I resolved the matter by just not using Type.Reflection with 8.0:

[code]

[2018-07-10 06:21] #284 closed, assigned to nobody

[2018-07-10 23:58] sorki commented on #241
Looks like this one can be closed ^^.

[2018-07-11 17:55] #241 closed, assigned to nobody

[2018-07-22 16:32] Profpatsch commented on #327
Where in the code do you think the problem is?

[2018-07-22 22:31] jwiegley commented on #327
I'm going to guess it's `prettySelector`, or where we call it from.

[2018-07-25 20:52] matthewbauer commented on #323
I'm debugging this now...

It appears that Hnix doesn't handle equality with functions correctly:

[code]

Works in Nix, but fails in Hnix

[2018-07-25 21:14] Ericson2314 commented on #323
Hmm I wrote that nixpkgs code, and I don't want it to compare functions like that regardless of the implementation!

[2018-07-25 21:36] jwiegley commented on #323
Well, that's interesting. And I can see why, since what `==` sees has already been reduced to a Haskell lambda by that time; we can't "compare expression bodies" anymore by then.

[2018-07-25 21:43] ryantrinkle commented on #323
Thankfully, what Nix does seems to not be so bad, here!

[code]

From this, and a bit more vague poking around, it appears that functions always compare as unequal.

[2018-07-25 23:09] matthewbauer commented on #323
Does it just ignore functions in attr sets then? That would actually be pretty easy to fix in hnix i think.

On the other hand, since it is not very common, it might make sense to just remove this in Nixpkgs and put the assertions somewhere else. I guess that’s kind of cheating though.

[2018-07-26 00:28] matthewbauer commented on #323
Yeah so it looks like:

[code]

[2018-07-26 00:33] matthewbauer commented on #323
Also this:

[code]

[2018-07-26 15:10] ryantrinkle commented on #323
Oh, gross.  Good find, though!

[2018-07-31 20:05] matthewbauer commented on #311
I am not able to reproduce this:

[code]

And Forcing ... should only be on with tracing

[2018-08-01 01:51] #305 closed, assigned to nobody

[2018-08-01 01:52] #323 closed, assigned to nobody

[2018-08-01 01:53] #311 closed, assigned to nobody

[2018-08-01 02:15] matthewbauer commented on #304
@jwiegley I can't get the ```quickcheck-replay``` thing to work but this may have been fixed by 5709d52d6080c451e4fa0f24a566d063a406a26a.

[2018-08-04 17:30] jwiegley opened #334 "system is not evaluating to the same thing as pkgs.system in all-packages"
In this line of `all-packages.nix`:

[code]

This results in an error when you run:

[code]

Found by @imalsogreg

[2018-08-04 17:31] jwiegley commented on #334
@shlevy thinks that this is due to getting the scoping wrong with either `with` or we're not clearing the argument set when evaluating within a newly imported file.

[2018-08-04 19:36] jwiegley opened #335 "Reporting of attribute errors from `--find` is off"
When `--find` shows an error while evaluating an attribute, the attribute in which the error occurs is not the attribute that is reported.

Pinging @imalsogreg.

[2018-08-04 21:38] jwiegley opened #336 "hnix no longer tests parsing of nixpkgs"
This is because `fetchurl`, as executed by `test/Main.hs`, is no longer downloading the nixpkgs tarball.

[2018-08-04 21:40] jwiegley commented on #336
Strange, it seems to be working now. Either way, I've committed code that will error out if the download does not happen as expected.

[2018-08-04 21:40] #336 closed, assigned to nobody

[2018-08-04 22:41] jwiegley opened #338 "Thunk evaluation loop at attribute llvmPackages_5.tools"
Error can be seen while executing:

[code]

Reported by @pikajude

[2018-08-04 23:06] jwiegley commented on #338
This is happening due to a bug in `desugarBinds` it looks like. It can be reproduced with this test file:

[code]

[2018-08-05 13:54] #334 closed, assigned to nobody

[2018-08-05 13:54] #338 closed, assigned to nobody

[2018-08-05 14:53] jwiegley opened #340 "Correctly implement function equality testing within structures"
This issue tracks the fact that the following tests in `EvalTests.hs` fail when `MATCHING_TESTS=yes`:

  - [ ] `case_function_equals1`
  - [ ] `case_function_equals2`

[2018-08-05 15:43] jwiegley opened #341 "Implement Builtins.mapAttrs"
This is a library function, but it will use a builtin version if it exists. Hopefully this would be faster.

[2018-08-05 16:14] jwiegley opened #343 "'false' (and other keywords) cannot be used as attribute keys"
Here's the test that currently fails (and this syntax is used by `nixpkgs`):

[code]

[2018-08-05 16:20] #343 closed, assigned to nobody

[2018-08-05 19:25] domenkozar commented on #246
This is required for evaluating nixos modules: `hnix --eval -E '(import <nixpkgs/nixos> { }).config.system'`

[2018-08-05 22:50] domenkozar commented on #335
I can't seem to reproduce this on master:

[code]

[2018-08-06 20:10] #246 closed, assigned to nobody

[2018-08-06 22:02] jwiegley commented on #335
@domenkozar Oh, I forgot that I fixed this. The actual problem is that if an error had occurring during forcing a thunk, the thunk was left "open", so that if a later attribute tried to force the same thunk, it would erroneously raise a `<<loop>>` error.

[2018-08-06 22:02] #335 closed, assigned to nobody

[2018-08-07 15:43] domenkozar opened #347 "Evaluate nixos config"
On master branch as of today:

[code]

[2018-08-08 22:59] jwiegley commented on #347
@domenkozar Thanks for the reproducible case! I've improved the error message a bit at least.

[2018-08-09 15:52] domenkozar commented on #347
Seems like none of the modules get loaded in this part: https://github.com/NixOS/nixpkgs/blob/master/lib/modules.nix#L194-L231

[2018-08-09 16:33] domenkozar opened #348 "Evaluate <nixpkgs/lib>"
[code]

[2018-08-09 16:34] domenkozar commented on #347
Probably eaiser to start at https://github.com/haskell-nix/hnix/issues/348

[2018-08-09 19:39] matthewbauer commented on #340
Hmmm... I'm confused by the error:

[code]

But  ```([(x: x)] == [(x: x)])``` should be true and the test case is ```constantEqualText "true" "([(x: x)] == [(y: y)])"```. Where does the false come from?

[2018-08-09 19:40] ryantrinkle commented on #340
I think it comes from the the C++ implementation:

[code]

On Thu, Aug 9, 2018 at 3:39 PM, Matthew Bauer <notifications@github.com>
wrote:

[2018-08-09 20:03] matthewbauer commented on #348
Looking at the trace, it looks like its getting stuck on ```defaultTypeMerge``` here:

https://github.com/NixOS/nixpkgs/blob/master/lib/types.nix#L23

This is doing some recursive stuff that maybe interferes with strict?

[2018-08-09 20:15] matthewbauer commented on #340
Very weird. Nix has very weird behaviors. I will fix it with the test mentioned in #323.

[2018-08-09 20:38] jwiegley commented on #348
This is a great test case, I'm looking at now. The question is which piece of this puzzle are we being too strict about.

[2018-08-09 21:01] matthewbauer commented on #340
Hnix isn't running Nix in those tests. I think I was just thinking about it backwards the left side is the actual, the right is the expected.

[2018-08-09 21:24] jwiegley commented on #348
@matthewbauer This demonstrates the problem:

[code]

For hnix it's an error to evaluate this into normal form, but apparently not for nix:

[code]

I will introduce an `NVCycle :: NValue m -> NValueNF m` value constructor to represent these. It also means we may want to track values during normalization so that we can detect the cycle immediately, rather than waiting for an arbitrary cutoff as we

[2018-08-09 21:44] jwiegley commented on #348
Or better, change `NValueNF` from:

[code]

to

[code]

To indicate when cycles have been detected during normalization. Or an equivalent expressive data type to capture this possibility. This will keep representation of cycles out of the non-normalized representation.

[2018-08-09 21:46] matthewbauer commented on #348
Sounds good! I think this is related to how Nix handles a lot of different things like the ```builtins.builtins.builtins...``` case.

[2018-08-10 02:07] jwiegley commented on #348
@matthewbauer I've finished changing `NValueNF` to use `Free` instead of `Fix`, and that has allowed the evaluation to succeed. I need to implement the value tracking, though, because the "depth 2000 cutoff" is causing the output to be huge, since we don't identify the cycle immediately when it begins.

[2018-08-10 02:10] jwiegley commented on #348
@matthewbauer This work is on the `free-nf` branch for now, in case you have an idea on how to detect cycles. I was thinking of just using a `HashMap` for the first approximation, even though it will be slow and inefficient.

[2018-08-10 02:32] matthewbauer commented on #348
Yes HashMap sounds okay. Nix actually just uses a set of values it has visited:

https://github.com/NixOS/nix/blob/bc65e02d9671ef6af2c25b4cc7a0a34944d98a2d/src/libexpr/eval.cc#L47

It might make sense to just use Data.Set then.

[2018-08-10 03:16] matthewbauer commented on #348
Here is an implementation of this: https://github.com/obsidiansystems/hnix/tree/cycles

@jwiegley It looks like the free stuff has broken a few tests though. Might be something with Eq instances?

[2018-08-14 09:34] domenkozar commented on #348
@matthewbauer I tried your branch and it never finishes evaluation for me (OOMs).

[code]

[2018-08-21 20:55] taktoa commented on #57
It's been a long time since I looked at the `hnix` source code, so I'm not sure how much rearchitecting this would take, but what do you guys think about this way of integrating comments:

1. Lex the source file into a stream of tokens, each of which has a corresponding source span
2. Parse this into an AST, but instead of having source spans in the AST, you have offsets into the stream of tokens

[2018-08-28 20:50] domenkozar commented on #347
With current master:

[code]

[2018-09-03 17:03] #341 closed, assigned to nobody

[2018-09-03 17:03] #340 closed, assigned to nobody

[2018-09-03 17:04] #327 closed, assigned to nobody

[2018-09-03 18:45] pikajude opened #353 "Something's not right in mapAttrs"
In the hnix repl:

[code]

In nix:

[code]

[2018-09-03 20:24] domenkozar commented on #347
Built using latest master and here is result with `--thunks` and tracing: https://paste.pound-python.org/show/2lsHBzcIOTDl1qciCfz5/

[2018-09-03 20:37] domenkozar commented on #347
Maybe it's with precedence bug? I get further with:

[code]

[2018-09-03 21:07] domenkozar commented on #347
Which then gets me to:

[code]

[2018-09-04 02:54] pikajude commented on #353
Looks like the mapping function is meant to take both the key and value as arguments, but hnix's version only accepts the value.

[2018-09-04 08:53] Profpatsch commented on #353
I recommend running the test suite in https://github.com/NixOS/nixpkgs/blob/master/lib/tests/misc.nix to catch this and similar errors. Is there a test suite for builtins already?

[2018-09-04 10:01] domenkozar commented on #353
@Profpatsch how to run that via `--eval -E '...'`? :)

[2018-09-04 10:21] Profpatsch commented on #353
With nix it’s:

[code]

It should return an empty list when the tests are successful.

[2018-09-04 10:25] domenkozar opened #355 "Evaluate <nixpkgs/lib/tests/misc.nix>"
[code]

[2018-09-04 10:26] domenkozar commented on #353
Thanks - https://github.com/haskell-nix/hnix/issues/355

[2018-09-04 16:38] jwiegley commented on #353
Let's add this to the tests that we run then!

[2018-09-05 09:20] domenkozar commented on #353
fixed

[2018-09-05 17:55] pikajude commented on #353
Fixed by https://github.com/haskell-nix/hnix/pull/356

[2018-09-05 17:55] #353 closed, assigned to nobody

[2018-09-07 21:08] #347 closed, assigned to nobody

[2018-09-07 23:08] domenkozar commented on #347
@jwiegley does the example evaluate for you? I get:

[code]

[2018-09-07 23:37] jwiegley commented on #347
It prints:

[code]

Using `--strict` fails with:

[code]

[2018-09-08 11:53] domenkozar commented on #347
Seems like I have weird version of NixOS 18.09 installed, running it against 18.03 or 18.09 works. Thank you :) Going to do more tests.

[2018-09-08 12:06] domenkozar opened #357 "Better error message for missing parameters"
[code]

[2018-09-08 12:13] domenkozar opened #358 "<<thunk loop> on buildEnv + libxml2"
[code]

Note: if you remove `libxml2`, the loop does not happen.

[2018-09-08 17:50] jwiegley commented on #358
Interesting, I'm seeing this:

[code]

Which I've seen before, so likely due to evaluating on Darwin and is a separate bug I need to fix in order to get to yours.

[2018-09-08 19:53] jwiegley commented on #358
Actually no, I get this:

[code]

Can you tell me whether `-I ~/dev/` is necessary for reproducing this?

[2018-09-08 19:54] jwiegley commented on #358
Also, just to confirm, you're testing with 833851392de0287badeece1a71b6cdbacf4d7cbe?

[2018-09-08 20:01] jwiegley opened #359 "Incorrect precedence when parsing "name or import ...""
The following code:

[code]

is being parsed incorrectly as:

[code]

When it should be:

[code]

[2018-09-08 20:02] jwiegley commented on #359
@domenkozar This is blocking me on getting further with your problem, but should be fairly easy to remedy this week.

[2018-09-08 20:03] #304 closed, assigned to nobody

[2018-09-08 20:04] #322 closed, assigned to nobody

[2018-09-08 20:05] jwiegley commented on #326
Agreed, @Profpatsch.

[2018-09-08 20:05] jwiegley commented on #358
Currently blocked on my side by #359

[2018-09-08 20:09] jwiegley commented on #328
Marking this as blocked until we've completed initial development (i.e., we have a full, functional replacement for nix-instantiate). Then development can slow and we can look at architectural restructuring.

[2018-09-08 20:33] jwiegley commented on #359
@shlevy It looks like `import` is processed as a keyword, rather than just another builtin function?

[2018-09-08 20:34] jwiegley commented on #359
Should `foo.bar or baz 1` be intepreted as `(foo.bar or baz) 1` or `foo.bar or (baz 1)`? The precedence rules seems to suggest the former.

[2018-09-08 20:35] jwiegley commented on #359
https://nixos.org/nix/manual/#table-operators suggests that `or` binds the most tightly, along with its associated selector.

[2018-09-08 22:12] domenkozar commented on #358
Yeah, using latest master  (8338513)

[2018-09-10 22:01] infinisil opened #362 "Differing behaviour for dynamic attributes in let statements"
This expression works with standard Nix, but not with hnix:
[code]

[code]

This expression doesn't work with standard Nix, but does with hnix:
[code]

[code]

[2018-09-10 22:23] infinisil commented on #362
Also note that
[code]

evaluates to `10` for both. It seems that standard Nix allows dynamic attributes only if its value is a constant string.

[2018-09-11 13:27] shlevy opened #364 "Implement derivationStrict without nix-instantiate"
Once we have string context and hnix-store integration, we can implement derivationStrict properly

[2018-09-11 13:28] shlevy opened #365 "Implement fetch without nix-instantiate"
Once we have hnix-store integration, we should be able to implement fetch properly.

[2018-09-11 13:31] shlevy opened #366 "Implement addPath in terms of hnix-store"

[2018-09-11 13:31] shlevy opened #367 "Implement import-from-derivation"

[2018-09-11 13:34] shlevy commented on #365
Assign to @imalsogreg

[2018-09-11 13:41] shlevy commented on #366
Assign to @imalsogreg

[2018-09-11 20:32] mightybyte commented on #364
I've been mucking around with this in my free time, but it's going really slowly.  @shlevy I was thinking it would be really nice to get your help on it.  Perhaps we could find a time to pair?

[2018-09-12 09:52] shlevy commented on #364
Sure! Until we have proper support for string context and adding files to the store we'll be limited, but we can definitely make some progress.

[2018-09-13 03:12] jwiegley commented on #359
Ah, we were right and nixpkgs was the problem: https://github.com/NixOS/nixpkgs-channels/commit/608730af4404f40586ba1e764fbc8576451ec513

[2018-09-13 03:12] #359 closed, assigned to nobody

[2018-09-13 09:53] Profpatsch commented on #359
Haha, my bad :confounded:

[2018-09-14 15:57] domenkozar commented on #362
@Infinisil this was fixed in https://github.com/haskell-nix/hnix/pull/363 ?

[2018-09-14 16:02] infinisil commented on #362
@domenkozar Nah, has nothing to do with that

[2018-09-16 13:24] jpdoyle opened #368 "Update from Megaparsec 6.5"
Currently `hnix` depends on `megaparsec >=6.5 && <7.0`, and when running `nix-shell` I encountered a quickcheck error indicating a bug fixed in megaparsec 7.0 (https://github.com/mrkkrp/megaparsec/issues/323)

I'm not sure which things depend directly on megaparsec (I was doing this installation to just get started contributing), but since this bug is supposedly fixed in 7.0 that should be our tar

[2018-09-16 23:41] jwiegley commented on #368
I'd be quite happy to upgrade to Megaparsec 7.0.

[2018-10-02 00:51] Ericson2314 commented on #106
I saw https://github.com/clash-lang/clash-compiler/pull/361 which is disappointing. I desperately want one of these libraries to win, and end the duplication we have today.

[2018-10-05 19:39] christiaanb commented on #106
@Ericson2314 Clash might've been one of the worst use-cases with regards to performance of `unbound` because it does sooooo many traversals of an expression, going under and over binders all the time.

Given that all of my options to improve Clash' run-time situation basically meant I had to (probably) change nearly every module in the compiler, I went with the option that seemed to be the safest

[2018-10-06 14:21] Ericson2314 commented on #328
CC @taktoa ~~who also wrote a Nix parser using  megaparsec~~. If we can fold ~~that and~~ @peti's stuff used by cabal2nix into one surface syntax library, I think would be a good demonstration of code reuse.

[2018-10-06 17:19] Ericson2314 commented on #328
Nevermind, I was confusing https://github.com/awakesecurity/language-ninja used in https://github.com/awakesecurity/ninja2nix .

[2018-10-06 17:20] Ericson2314 commented on #328
https://github.com/peti/language-nix is @peti's surface syntax stuff, for the record.

[2018-10-07 04:38] jwiegley commented on #328
We have a complete parser now, with a round-tripping pretty printer. Why would we need to fold in another parser?

[2018-10-07 14:24] Ericson2314 commented on #328
There isn't. I'm thinking more language-nix deprecated, becomes a shim, and/or has a major version bump and becomes the name under which hnix's surface syntax stuff is published.

(I suppose I am contuously bugged but the amount of duplication on hackage and would like to reverse the trend anywhere there is no design beef. And cabal2nix would be a fine initial "client" of hnix's work given it's wi

[2018-10-13 17:50] Gabriella439 commented on #368
I took a stab at this and it's a bit tricky.  The main challenge is that `megaparsec-7.*` changed `ParseError` to store `Int` instead of `NonEmpty SourcePos` which in turn requires refactoring the annotations that are threaded around `hnix`

[2018-10-15 19:58] jwiegley commented on #368
@Gabriel439 Thanks for the attempt, Gabriel! Is there any other way to recover that source position information when an error happens? I wonder if the author removed that information to avoid storing something that most people weren't using...

[2018-10-15 21:36] Gabriella439 commented on #368
@jwiegley: I believe it's mainly for performance reasons.  This post provides more context for the motivation for the change:

https://markkarpov.com/post/megaparsec-more-speed-more-power.html

The changelog is also pretty detailed, although I haven't read it thoroughly yet:

http://hackage.haskell.org/package/megaparsec-7.0.1/changelog

What I did notice, though, is that the utilities for pretty-

[2018-10-16 11:06] mrkkrp commented on #368
Hi, I haven't looked at the code, but if you want to have `SourcePos` as before then get it using [`getSourcePos`](https://hackage.haskell.org/package/megaparsec-7.0.1/docs/Text-Megaparsec.html#v:getSourcePos) from a running parser. Alternatively you could use `Int` offsets and recover `SourcePos` using `attachSourcePos`.

The users are mostly expected to work with `ParseErrorBundle`s now, not wit

[2018-10-26 09:47] domenkozar commented on #178
This was fixed.

[2018-10-26 14:05] costrouc commented on #57
In regards to the announced sprint tomorrow at nixcon it was said that adding parsing for comments is a wanted feature. I just wanted to ask that if this feature be added to https://github.com/NixOS/nix so that other language projects can benefit as well! I myself have been working on a python parser and the one thing that is dropped is comments due to the nix ast parser. https://github.com/Mic92/

[2018-10-26 19:25] #178 closed, assigned to ryantrinkle

[2018-10-27 14:48] roberth commented on #57
I've had a look at the AST and it seems that for the purpose of formatting nix code reliably, we will need to have access to token spans. This is because the AST simply can not (and should not) represent the comments and/or whitespace in every possible place. Example:

    inherit /*a*/ ( /*b*/ foo) bar;

vs `Binding` constructor:

    Inherit !(Maybe r) ![NKeyName r] !SourcePos

Of course preserv

[2018-10-27 15:55] Ekleog commented on #57
As I see people pointing to formatting nix code reliably, I'll point to https://github.com/Ekleog/nix-bikeshed/ so that people don't need to re-do the same thing twice :)

It's more or less working, mostly missing comments at the time being. (actually, running it is how I found out https://github.com/haskell-nix/hnix/issues/152: parsing, generating the file and re-parsing didn't give the same answ

[2018-10-27 16:02] domenkozar commented on #57
@Ekleog how does it compare to hnix formatter?

[2018-10-27 16:22] Ekleog commented on #57
If you're speaking of `Nix.Pretty`, then `nix-bikeshed` handles wrapping
overlong lines correctly, and doesn't hesitate to switch between a
`''foo''` string and a `"foo"` string (depending on line length), for
the two first changes I can see off-the-top-of-my-head.

If there's another hnix formatter, then I didn't find about it when I
started `nix-bikeshed` a few months ago (before putting it on h

[2018-10-27 17:25] roberth commented on #57
Sorry guys, I have given up on lexing. My findings:

 - Error messages will be worse when encountering a lexing error. Most errors may not be lexing errors, but those that are will be awful.
 - The `nix` lexer has to support string interpolation. Chances that this can be ported to alex are low. Alex might have improved performance compared to parsing with combinators twice (lex-parse + parse)
 - L

[2018-11-03 17:02] NorfairKing commented on #57
+1

See https://github.com/NorfairKing/nixfmt for an attempt at a normalising formatter.
The only thing missing there are comments, as mentioned in [the README](https://github.com/NorfairKing/nixfmt/tree/6a0c061f1bfbb9f7c3398acb3a6f50f9f1e2f052#readme).

[2018-11-04 11:42] domenkozar commented on #57
@NorfairKing @Ekleog now we have three formatters :)  It would be good to see what's the difference and just get `hnix` formatter to do the correct thing (or provide modes of operation).

[2018-11-04 11:49] NorfairKing commented on #57
@domenkozar `https://github.com/NorfairKing/nixfmt` just provides a CLI wrapper around the hnix parser and pretty-printer, nothing more.  If the `hnix` parser and pretty printer are fixed to deal with comments, `nixfmt` will work as intended.

[2018-11-04 11:52] domenkozar commented on #57
You can format by invoking `hnix <filepath>` :)

[2018-11-04 14:52] Ekleog commented on #57
@domenkozar I *think* `Nix.Pretty` doesn't try to format nix code but to pretty-print nix expressions, which is IMO a vastly different objective. For instance, *pretty-printing* YAML may be just setting it to always-indent like:
[code]
While *formatting* it would be like:
[code]

As such, I think the objective of the two projects (`Nix.Pretty` and `nix-bikeshed`) don't match, and thus they aren't

[2018-11-04 14:57] domenkozar commented on #57
The difference would only be setting how long can a line be, so setting it to 1 char would "pretty-print" it. So it could easily be under the same codebase, I think.

[2018-11-04 15:00] Ekleog commented on #57
Well, we totally agree that a formatter can almost do pretty-printing. However I think is that a pretty-printer can't do formatting at all :)

(also, the difference also includes eg. whether `''foo''` can be turned to `"foo"` which changes the AST and thus can't be included in a pretty-printer, and similar stuff)

[2018-11-04 15:03] NorfairKing commented on #57
Just my 2 cents: I don't much care about formatting vs pretty-printing. I just want a single normalized form of a given AST that is vaguely good for humans to edit. Something like `hindent` or `gofmt`. If that's done with a formatter instead of a pretty-printer: great, but I'm not (personally) interested in bikeshedding what the format would be.

[2018-11-04 15:05] domenkozar commented on #57
@NorfairKing same here. I worked on formatter to do "something sane", but I don't prefer the discussion on  the style as much as I value consistency.

The current formatter is used in https://github.com/domenkozar/hnix-lsp and I'd love if hnix would preserve even most basic comments (after lines and in-between).

[2018-11-04 15:14] Ekleog commented on #57
If you're interested in something *vaguely* good for humans to edit,
you'll likely be OK with a pretty-printer.

If you want a tool to add to your CI to ensure your code is properly
formatted, you'll likely want a formatter.

I think this sums up the difference I see, and the reason why I think
`Nix.Pretty`, by its name, doesn't try to handle the problem
`nix-bikeshed` is trying to handle. But may

[2018-11-05 17:40] jwiegley commented on #57
One advantage of pretty printing over formatting: smaller diffs. With automated formatting, you never know when it's going to decide to completely rewrite a large block of code because some limit has been reached.

[2018-11-08 12:06] domenkozar commented on #136
- [ ] ban `builtins.toPath` https://github.com/NixOS/nix/pull/2524

[2018-11-17 02:03] mightybyte opened #375 "Profiling tools"

[2018-11-17 02:18] mightybyte commented on #364
For the record, here's the reference implementation that we have to match:

https://github.com/NixOS/nix/blob/master/src/libexpr/primops.cc#L523

[2018-11-17 02:44] ali-abrar commented on #233
I'll pick this one up.

[2018-11-17 02:50] infinisil opened #377 "Suggested improvements to NExpr"
- [ ] Encoding that `[Binding r]` contains static and dynamic attributes, whereas static ones have to have a different key:
[code]
- [ ] Instead of strings being `[Antiquoted Text r]`, they should be
[code]
- [ ] #977
- [x] #1041
- [x] Instead of having `NSet bindings` and `NRecSet bindings`, it should be a single `NSet rec bindings` (first argument indicates it being recursive or not)
- [x] #976

[2018-11-17 03:10] Ericson2314 opened #379 "Switch from ansi-wl-pprint to prettyprint"
https://github.com/quchen/prettyprinter It seems better. See also https://github.com/ekmett/ansi-wl-pprint/issues/18 which shows progress in deprecating the first.

[2018-11-17 09:58] Synthetica9 commented on #377
* Can we also get consistent source positions? Currently some things have their own `SourcePos`, next to the `SrcSpan` provided by `NExprLocF`: https://github.com/haskell-nix/hnix/blob/2f418b26aa92bf79494c899497f327f8c976c814/src/Nix/Expr/Types.hs#L179-L190  Maybe have the annotations be at least parametrised, so we can set them to `()` when it's convenient?

[2018-11-17 15:52] asymmetric opened #381 "Add a “why” section"
I’m sure there are very good reasons to re-implement the nix language, but they’re not stated in the README and therefore not discoverable by newcomers :)

[2018-11-17 16:47] mightybyte opened #382 "Replace all occurrences of `hackyModifyNixContents` with `principled...` versions."

[2018-11-17 16:47] mightybyte opened #383 "Replace all occurrences of `hackyMakeNixStringWithoutContext` with `principled...` versions."

[2018-11-17 16:47] mightybyte opened #384 "Replace all occurrences of `hackyStringIgnoreContext` with `principled...` versions."

[2018-11-17 16:47] mightybyte opened #385 "Replace all occurrences of `hackyGetStringNoContext` with `principled...` versions."

[2018-11-17 16:47] mightybyte opened #386 "Replace all occurrences of `hackyStringMConcat` with `principled...` versions."

[2018-11-17 16:47] mightybyte opened #387 "Replace all occurrences of `hackyStringMappend` with `principled...` versions."

[2018-11-17 19:49] ali-abrar commented on #233
@shlevy recommended that we defer this until we have some store prerequisites completed

[2018-11-17 20:52] kmicklas opened #391 "Make null and empty string not equal"
Compare:

[code]

and

[code]

[2018-11-17 21:01] domenkozar commented on #358
I've managed to get this down to:

[code]

The same thing loop in hnix.

[2018-11-17 21:11] domenkozar commented on #358
Seems like Nix just evaluates forever, while hnix gives up at some point (too soon since I've seen this happen inside nixpkgs).

[2018-11-17 21:45] domenkozar commented on #200
Using branch `vs-megaparsec-7`:

[code]

[2018-11-17 21:59] #391 closed, assigned to kmicklas

[2018-11-17 22:43] domenkozar commented on #200
Here is the flamegraph of the invocation: https://static.domenkozar.com/hnix.svg

To reproduce:

[code]

Then invoke:

[code]

[2018-11-17 22:58] domenkozar commented on #200
maybe @mrkkrp could chip in here :)

[2018-11-18 00:05] mightybyte commented on #245
I believe this is done, but leaving the issue open so someone else can confirm.

[2018-11-18 05:02] mrkkrp commented on #200
@domenkozar Can you give me TLDR? So it got slower, if so, how much slower? There is only one thing that can make it slower, that's `getSourcePos`. It shouldn't be called too often (for example, it's a bad idea to call it on every token). But in general if you call it not-that-often, the performance should stay the same. At least it was so for MMark when I checked this before releasing Megaparsec

[2018-11-18 10:03] domenkozar commented on #200
@mrkkrp Megaparsec improved performance by about 10% on this particular case. We are wondering how to bridge the gap between original Nix implementation (0.16s) and HNix (1.26s) and majority of time is spend in Megaparsec as observed in the flamegraph linked above.

If you have any tips for what could be the underlying causes we'd be very grateful :)

[2018-11-18 10:33] domenkozar commented on #358
Same happens on evaluating `cabal2nix`, I enabled profiling and got a callstack (although it doesn't reveal much):

[code]

[2018-11-18 12:36] mrkkrp commented on #200
Ah good! I was fearing that I screwed up with version 7 :-P

I think my suggestions are already applied in the code... Would be good to make it as fast as C, but I don't think I know how to do it.

[2018-11-18 15:30] shlevy opened #400 "Ensure we're doing the right thing with adding paths to strings"
This isn't confusing at all:

[code]

Note especially that the return type of the second example is a path, not a string.

[2018-11-18 15:49] mightybyte commented on #400
Pinging @kmicklas because this is currently using `hackyStringIgnoreContext` which I believe he is working on.

[2018-11-18 21:06] domenkozar commented on #292
@hSloan are you working on this? I'm working on extending repl with scope state and type command support.

[2018-11-18 21:07] mightybyte commented on #292
@domenkozar He was working on it yesterday.

[2018-11-19 14:31] shlevy opened #406 "Path forward for encouraging proper context handling"
Once we're all wrapped up with the initial string context handling support, we need to decide what we want to do moving forward to make it less likely a context misuse can slip in. Two concrete proposals:

1. Have the core `NixString` manipulation functions be named in such a way as to indicate their proper use, and detailed haddocks on the functions and `NixString` itself to describe how things s

[2018-11-19 20:06] picnoir commented on #279
I can't reproduce this issue with the current `pending` branch:

[code]

Evaluating the thunks with `--strict` also succeeds.

[2018-11-20 12:04] domenkozar commented on #368
Fixed by https://github.com/haskell-nix/hnix/pull/380

[2018-11-20 16:42] picnoir commented on #355
I'm on it.

Looks something's fishy either with builtins.storeDir or builtins.toPath:

[code]

[Edit]

The problem is actually even more straightforward :)

[code]

[2018-11-21 23:59] #379 closed, assigned to Ericson2314

[2018-11-22 00:01] jwiegley opened #411 "Remove use of hpack"
The project has stabilized enough that `hpack` is no longer offering much benefit. We should take the `hnix.cabal` that we have now, and drop use of `hpack`.

This issue could also be titled "Early Christmas for @mightybyte".

[2018-11-22 09:53] domenkozar commented on #411
With [Common stanzas](https://www.haskell.org/cabal/users-guide/developing-packages.html#common-stanzas) it should be almost identical in Cabal, minus automatic export-modules handling.

[2018-11-22 17:16] #411 closed, assigned to nobody

[2018-11-22 17:30] domenkozar commented on #368
Fixed in master.

[2018-11-22 17:35] domenkozar commented on #292
I made a tiny steps towards this in https://github.com/haskell-nix/hnix/pull/409, but it's not ready yet.

[2018-11-22 17:43] domenkozar commented on #375
Generating flamegraphs would be really nice. If we pick the same syntax as `ghc -pj`, we can also use already existing infrastructure to generate flamegraphs using https://github.com/Fuuzetsu/ghc-prof-aeson-flamegraph#readme

[2018-11-23 13:54] domenkozar opened #412 "-v1 to become the default (and add --quiet for current -v0)"

[2018-11-23 20:02] domenkozar commented on #200
![hnix-hp](https://user-images.githubusercontent.com/126339/48959027-a50d2f80-ef5a-11e8-915e-843f9e23e4ec.png)

Since productivity is around 50%, running profiling with `-hd` shows us what is allocated that makes GC slow.

[2018-11-24 09:29] mpickering commented on #200
I did some profiling and it seems that the majority of allocated memory is never used. Digging deeper, it seemed that most of the wasted space is from things to do with parse errors where `ParseError` objects are allocated but then never used because the parse succeeds.

[2018-11-24 14:41] domenkozar commented on #357
I'm not sure if new issues should be opened or not, but here is another one:

[code]
Ideally hnix would show the values (additionally to the current types) and print source position.

[2018-11-24 16:18] domenkozar commented on #318
@alexfmpe do you have some WIP code? I'd love to help.

[2018-11-24 17:38] domenkozar commented on #318
I've been using the following expression to see how long it takes between files:

[code]

[2018-11-24 20:44] domenkozar commented on #200
It seems currently the slowdown is about 10x even for bigger files (running on https://github.com/haskell-nix/hnix/commit/2e4e5e00779a6b167881109ad95e22055d5e43e7 with `--arg doOptimize`):

[code]

[2018-11-24 20:53] domenkozar commented on #200
![hnix](https://user-images.githubusercontent.com/126339/48972848-fb49a380-f02a-11e8-953e-346a31ab4bc7.png)

`+RTS -hd` for the previous comment (using additional flag `--doProfiling true`)

[2018-11-24 21:29] domenkozar commented on #200
![hnix](https://user-images.githubusercontent.com/126339/48973110-f509f600-f02f-11e8-9218-31fc3eb8f161.png)

[2018-11-25 03:11] #412 closed, assigned to nobody

[2018-11-25 05:02] mrkkrp commented on #200
@mpickering Can you tell me how to reproduce whatever you did to come to this conclusion?

[2018-11-25 09:05] mpickering commented on #200
I ran three profiles.

1. `-hb` showed that most of the heap objects allocated were never used.
2. `-hc -hbvoid` which shows the cost centre where memory is allocated but not used.
3. `-hd -hcnixPath` which shows the description of the closure on the top cost centre from the previous profile.

I then looked at the code and found this closure by grepping the dumped STG. The closure was to do with e

[2018-11-25 09:50] #368 closed, assigned to nobody

[2018-11-26 13:14] domenkozar opened #419 "Ship nix/fetchurl.nix with hnix"
This gets us closer to simple usage :)

[2018-11-26 13:22] domenkozar commented on #358
Using hnix master on `cachix` repository yields a similar recursion:

[code]

[2018-11-26 20:00] jwiegley commented on #358
@domenkozar Does it help if you build with tracing enable and pass `-v5 --thunks`?

[2018-11-26 20:44] mightybyte commented on #406
I think I prefer #1 in the interest of simplicity and getting something out the door sooner.  We can always do #2 later if it seems worthwhile.

[2018-12-03 20:57] #355 closed, assigned to nobody

[2018-12-04 08:23] mrkkrp commented on #200
I’ll get to playing with this but not in December. I think I have an idea how to improve things a bit.

[2018-12-09 17:39] mightybyte commented on #210
I believe this is addressed by #405.

Result:
https://github.com/haskell-nix/hnix/blob/281644a3b2a2b1a488fde771748d88102ab6eb6b/src/Nix/Builtins.hs#L722-L755

[2018-12-09 17:41] mightybyte opened #423 "Document replaceStrings semantics"
See this comment: https://github.com/haskell-nix/hnix/pull/405/files/95d4b9406d80d9f9e86ce0125a0025d990ab8448#r240045660

[2018-12-09 17:43] mightybyte opened #424 "Create string context helper for paths and use in appropriate places"
See also https://github.com/haskell-nix/hnix/pull/405/files/95d4b9406d80d9f9e86ce0125a0025d990ab8448#r240045704

[2018-12-09 17:44] mightybyte opened #425 "Dedup 32-bit hashing logic with code in hnix-store"
See also https://github.com/haskell-nix/hnix/pull/405/files/95d4b9406d80d9f9e86ce0125a0025d990ab8448#r240045800

cc @imalsogreg

[2018-12-10 01:31] mightybyte opened #426 "Make plugin for getting string context information needed for better testing"

[2018-12-19 20:55] jwiegley opened #428 "Error traces are no longer useful since switching to Megaparsec 7"
All that I see now with `-v3` is:

[code]

This should be reporting the file, line number, and the source (with 3 lines of context), as it did under Megaparsec 6.

[2019-01-01 12:13] mrkkrp commented on #200
I tried to play with this but I think it doesn't really use my local version of megaparsec. I changed `default.nix` like so:

[code]

And generated this in my `megaparsec` directory:

[code]

This is how I tested it:

[code]

But no changes in local version of megaparsec seem to affect how `hnix` works, I even inserted tracing in the code. Nothing. And it takes a while to recompile too. Any hints

[2019-01-01 12:31] domenkozar commented on #200
I'd suggest skipping Nix, as you'll always have to recompile the whole megaparsec and it will make your feedback loop really slow.

I've upstreamed most of hnix dependencies to stackage LTS 13,  except `hashing`, `monadlist` and `ref-tf` for which you need https://github.com/mainland/ref-tf/pull/2

[2019-01-01 14:53] mrkkrp commented on #200
OK, I guess I’ll return to this later.

[2019-01-01 18:26] mrkkrp commented on #200
Still it is not clear to me why my local version of Megaparsec was not used. I tried with both new cabal commands and the old ones.

[2019-01-01 18:53] domenkozar commented on #200
I'd use something like

[code]

where I bumped megaparsec version just to be sure I see 7.0.5 in:

[code]

[2019-01-02 10:56] mrkkrp commented on #200
Ah OK, it looks the optimization I had in mind is just not an optimization :-D

[2019-01-03 13:24] domenkozar commented on #428
cc @vaibhavsagar

[2019-01-03 13:25] domenkozar commented on #425
Release hnix-store-core to hackage and depend on it? :)

[2019-01-03 20:00] Ericson2314 commented on #425
Where does hnix-store-core have a unix dep if the effects are abstracted? https://github.com/haskell-nix/hnix-store/blob/master/hnix-store-core/hnix-store-core.cabal#L44 Otherwise, sounds good to me!

[2019-01-05 22:46] vaibhavsagar commented on #428
I suspect this is happening because of https://github.com/haskell-nix/hnix/pull/380/files#diff-fcbeb056e81a1275c04efb8c107238eeR70, as IIRC the new Megaparsec doesn't provide line and column numbers separately and instead just provides an offset into the input stream, so if we want the old behaviour back we'd need to

1. Split the file by newlines
2. Find the line and column numbers corresponding

[2019-01-05 22:48] jwiegley commented on #428
Since it only happens at error reporting time, that seems like a reasonable approach.

[2019-01-09 06:40] jwiegley commented on #428
It looks like the contextual error printing was removed from megaparsec, and replaced with `offset=N:`.

[2019-01-24 04:09] jwiegley opened #429 "cabal new-configure does not work"
I haven't tracked this down, but `cabal new-configure --enable-tests` fails, while `cabal configure --enable-tests` works just fine. It would be nice to move to the `new-build` logic.

[2019-01-28 04:40] Profpatsch opened #431 "New release?"
hnix is currently broken on nixpkgs, because everything has updated to megaparsec 7 in the meantime. A new release would be great.

[2019-01-28 05:54] jwiegley commented on #431
Once we restore proper error messages, it will be released. I've working on it over the past few days; getting close.

[2019-01-28 06:15] domenkozar commented on #431
See #428

[2019-01-28 17:32] jwiegley commented on #428
I've made progress on this with guidance from @mrkkrp here: https://github.com/mrkkrp/megaparsec/issues/338

[2019-01-28 22:37] jwiegley commented on #428
Looks like using megaparsec for error reporting is a no go. They've changed too much to suit the particular needs of error-reporting-while-parsing, and it's broken the ability to easily report an error location after the fact.

This will need some new code to display lines within files, but it should be a fun exercise, entirely pure code, and only a few hours of work.

[2019-01-30 04:12] mightybyte commented on #428
@jwiegley Since we know that performance is currently a problem for us, would it make sense to do the parsing with a faster parser that doesn't do error reporting, and then re-parse for better errors only when we've encountered an error?

[2019-01-30 19:15] jwiegley commented on #428
@mightybyte Maintain two parsers? Until speed is critical, I'd rather not. This is by no means a trivial parser.

[2019-02-01 19:38] xaverdh commented on #428
In principle this could be done using the [parsers](http://hackage.haskell.org/package/parsers) library, writing the parser polymorphic in the framework.

[2019-02-02 03:05] jwiegley commented on #428
We were using `parsers` before `megaparsec`, actually. Wasn't worth the trouble to maintain it.

[2019-02-22 07:05] domenkozar opened #432 "out of memory on infinite recursion"
[code]

in Nix:
[code]

in hnix it runs out of memory.  Might be related to https://github.com/haskell-nix/hnix/issues/188?

[2019-02-22 21:40] jwiegley commented on #432
Nice find!

[2019-03-09 03:38] mightybyte opened #433 "Add test to verify string context behavior of builtins.nixPath"

[2019-03-09 03:40] mightybyte opened #434 "Add test to verify string context behavior of builtins.unsafeGetAttrPos"

[2019-03-09 03:40] mightybyte opened #435 "Add test to verify string context behavior of builtins.split"

[2019-03-09 03:41] mightybyte opened #436 "Add test to verify string context behavior of builtins.mapAttrs"

[2019-03-09 03:42] hSloan commented on #435
I'll pick this one up

[2019-03-09 03:42] mightybyte opened #437 "Add test to verify string context behavior of builtins.pathExists"

[2019-03-09 03:43] mightybyte opened #438 "Add test to verify string context behavior of builtins.lessThan"

[2019-03-09 03:45] hSloan commented on #437
I'll pick this one up

[2019-03-09 03:47] mightybyte opened #440 "Add test to verify string context behavior of builtins.readFile / builtins.readDir"
The `readFile` and `readDir` functions both call `absolutePathFromValue`.  It currently calls `hackyStringIgnoreContext` which needs to be replaced with the appropriate principled function.

[2019-03-09 03:49] mightybyte opened #441 "Add test to verify string context behavior of builtins.findFile"

[2019-03-09 03:51] mightybyte opened #442 "Add test to verify string context behavior of builtins.fromJSON"

[2019-03-09 03:52] mightybyte opened #443 "Add test to verify string context behavior of builtins.exec"

[2019-03-09 03:53] mightybyte opened #444 "Add test to verify string context behavior of builtins.fetchurl"

[2019-03-09 03:54] mightybyte opened #445 "Add test to verify string context behavior of builtins.currentSystem"

[2019-03-09 16:31] ryantrinkle opened #447 "Fix eval-okay-builtins-add"

[2019-03-09 16:32] ryantrinkle opened #448 "Fix eval-okay-concatmap"

[2019-03-09 16:32] ryantrinkle opened #449 "Fix eval-okay-context-introspection"

[2019-03-09 16:32] ryantrinkle opened #450 "Fix eval-okay-fromTOML"

[2019-03-09 19:00] ryantrinkle opened #451 "Derivation outputs fail to tie the knot"
`NIX_PATH="$PWD/data/nix/corepkgs:$NIX_PATH" ./dist/build/hnix/hnix --eval -E "(import ./nixpkgs {}).coqPackages_8_6.metalib.lngen.doc.LANG"`
is a different thunk from
`NIX_PATH="$PWD/data/nix/corepkgs:$NIX_PATH" ./dist/build/hnix/hnix --eval -E "(import ./nixpkgs {}).coqPackages_8_6.metalib.lngen.doc.doc.LANG"`

I believe these should be the same; this has loop detection (and probably performance

[2019-03-09 19:06] jwiegley commented on #451
Good find!

[2019-03-09 21:54] emilypi commented on #444
I'll grab this one

[2019-03-09 21:58] emilypi commented on #429
These work for me. The problem was previous global dependencies installed, that removing `~/.ghc` fixed.

[2019-03-10 00:44] jwiegley commented on #429
This is what I'm seeing here:

[code]

I wonder now if it's because of my using `direnv`.

[2019-03-10 00:45] #429 closed, assigned to nobody

[2019-03-10 17:05] #445 closed, assigned to mightybyte

[2019-03-10 18:43] #437 closed, assigned to nobody

[2019-03-10 20:03] #438 closed, assigned to nobody

[2019-03-10 20:17] mightybyte opened #472 "Replace hnix's `StorePath` with hnix-store's `Path`"
The hnix-store work is probably still too much in flux (as of March 2019), but this will probably be something we want to do eventually.

[2019-03-10 21:00] jwiegley commented on #428
We're now reporting source context lines in our own way.

[2019-03-10 21:00] #428 closed, assigned to nobody

[2019-03-10 21:11] #432 closed, assigned to nobody

[2019-03-17 10:37] timbertson opened #480 "v0.5.2 doesn't compile: No instance for (Control.Monad.Fail.MonadFail Data.Functor.Identity.Identity)"
I haven't used cabal or haskell for years, so apologies if I'm doing something dumb. But it looks like hnix v0.5.2 doesn't compile with ghc 8.6.3 and the latest cabal packageset:

(I'm using ghc + cabal from nix, but just building a helloworld app which depends on hnix using cabal for now. I'll figure out cabal2nix once I've got hello-world working ;))

[code]

[2019-03-17 21:02] jwiegley commented on #480
0.6.0 will be released shortly.

[2019-03-18 06:10] jwiegley commented on #431
Released 0.6.0 today.

[2019-03-18 06:10] #431 closed, assigned to nobody

[2019-03-18 06:11] jwiegley commented on #480
Please try again with 0.6.0?

[2019-03-18 06:11] jwiegley commented on #419
That file is in the tarball uploaded to Hackage:

    data/nix/corepkgs/fetchurl.nix

Do you want it made available in another way?

[2019-03-18 06:14] jwiegley commented on #377
Should `NAttrPath` take a dynamic boolean argument, rather than two constructors?

[2019-03-18 06:16] jwiegley commented on #381
To make it easier for Haskell authors to create new tooling for the Nix ecosystem, including but not limited to: debuggers, custom evaluators, syntax checkers, linters, formatters, code generators, etc.

[2019-03-18 06:16] jwiegley commented on #377
@Infinisil I'm rather open to PRs for these suggestions. Perhaps doing them one at a time would be simplest?

[2019-03-18 06:17] domenkozar commented on #419
We could make it available on search path by default to avoid passing `-I nix=$PWD/data/nix/corepkgs`.

[2019-03-18 06:21] domenkozar commented on #431
Now we need hnix-store-core release as hnix depends on it /cc @shlevy

[2019-03-18 09:53] timbertson commented on #480
Thanks! Looks like hnix-store-core needs a publish too?
https://hackage.haskell.org/package/hnix-store-core

[code]

[2019-03-18 10:47] timbertson commented on #480
I cloned hnix-store locally, and referenced that in my `cabal.project.local` (yay, that's neat).

It didn't build off `master`, because:

[code]

But after I checked out the commit prior to https://github.com/haskell-nix/hnix-store/commit/b7c221693281d191710a3753889cd578230522a8, it built!

Along the way I also hit:
[code]

But when I dug into what might depend on `socks` (I certainly don't) by bu

[2019-03-18 14:04] ryantrinkle commented on #377
@Synthetica9 Nix has a primitive that retrieves source location for those things *internal to the language*, so they are semantically significant.  The other source locations are used just for error reporting and such.  It may be possible to unify them to some extent, but it's not quite as easy as one would hope.

[2019-03-18 15:18] jwiegley commented on #480
This is going to be an issue with depending on an external library like this, since now we need to coordinate releases.

@shlevy Can you please update Hackage today?

[2019-03-18 15:19] jwiegley commented on #419
But how to know where it will end up being installed?

[2019-03-18 15:27] ryantrinkle commented on #419
We could also embed it with TH. That is a bit easier to wrangle sometimes.

On Mon, Mar 18, 2019, 11:19 John Wiegley <notifications@github.com> wrote:

[2019-03-18 21:28] jwiegley commented on #480
`hnix-store-core` has been pushed to Hackage, please try again.

[2019-03-18 23:16] dhess commented on #480
I was able to reproduce @timbertson's error with `printHashBytes32` using `hnix` and `hnix-store-core` from Hackage.

[2019-03-19 07:52] shlevy commented on #480
https://github.com/haskell-nix/hnix/pull/486 should fix this

[2019-03-23 05:13] domenkozar commented on #480
Needs a bump of hnix.

[2019-03-27 13:10] kaii-zen opened #491 "Docker build fails"
Hello,

I tried to build the docker image according to the README and:

[code]

[2019-03-27 17:58] vaibhavsagar commented on #491
Wow, it looks like that `Dockerfile` is out of date. Could you try my PR at https://github.com/haskell-nix/hnix/pull/492 and see if it fixes this issue for you? I'm building it right now.

[2019-03-27 19:58] vaibhavsagar commented on #491
I was mistaken, my PR doesn't yet fix the issue.

[2019-03-27 22:18] Profpatsch opened #493 "nix-store-core is missing an export symbol"
[code]

[2019-03-27 22:41] shlevy commented on #493
@Profpatsch Is this against the hackage release/0.1.0.0 tag, or latest master? The major version bump on master was to hopefully discourage blind updates, there have been a bunch of (mostly mechanical) breaks as I've been doing cleanup.

[2019-03-28 01:35] domenkozar commented on #493
duplicates https://github.com/haskell-nix/hnix/issues/480

[2019-03-28 04:16] #447 closed, assigned to nobody

[2019-03-31 10:31] Profpatsch opened #494 "Push to stackage"
It would be great to have `hnix` in Stackage. `haskellPackages` is pinned to Stackage, so it only guarantees that packages are not broken for Stackage. Because `hnix` has quite some dependencies (e.g. `megaparsec`), it is constantly broken in practice.

This is an active blocker for pushing https://github.com/Profpatsch/yarn2nix to `nixpkgs`, because it depends on `hnix`.

[2019-04-01 22:45] #448 closed, assigned to nobody

[2019-04-06 05:07] clojurians-org opened #496 "hnix-6 build fail on nixos & macOS"
it's so hard to build hnix.
i try so many diffrent method.

## 1. on nixos
[code]

## 2. on mac
[code]

## 3. git source
[code]

[2019-04-06 07:41] vaibhavsagar commented on #496
Did you do a `git submodule update --init --recursive` before trying to build from source? I don't think we've ever supported building with `stack`.

[2019-04-06 08:13] domenkozar commented on #496
duplicates #480, for source make sure to follow https://github.com/haskell-nix/hnix#getting-started

[2019-04-06 08:13] #496 closed, assigned to nobody

[2019-04-06 12:29] clojurians-org commented on #496
thanks, it works. i ignore --recursive option previously

[2019-04-06 18:18] jwiegley commented on #496
Thanks for giving us such great feedback, @clojurians-org. Also, I wonder if just `nix build -f .` would have worked for you on all these machines, since it should know just what to do (and that's how we build on Travis).

[2019-04-07 02:56] clojurians-org commented on #496
thanks, it's work on macos and nixos.

as for nixos:
 it's very slow when building nix-2.2pre6600_85488a93.
in buildPhase, it compile every file, such as: CXX src/nix/search.o

it seems the nixos cache doesn't exist

[2019-04-07 13:51] clojurians-org commented on #496
i use cache instsall, it's so fast.

[code]

[2019-04-09 09:00] flokli commented on #494
Would also love to see this happening :+1:

[2019-04-09 09:23] flokli commented on #494
Tried a `stack init` on current master, the following version incompatibilites are present on `nightly-2019-04-09`:

[code]

[2019-04-10 17:44] nomeata commented on #480
Building `hnix-0.6.0` from hackage still seems to be broken with
[code]
But depending on `0.5.2` works.

You could edit the meta-data of `hnix-0.6.0` on hackage to depend on `hnix-store-core > 0.1.0.0` or something to prevent people from running into that problem until it is fixed.

[2019-04-10 18:23] jwiegley commented on #480
@nomeata Thanks for the report; I'll push a new hnix version tonight.

[2019-04-12 09:59] Anton-Latukha commented on #309
I want to do this task on a long time basis. Until the code is covered.

TL;DL: What is the stabilized module that would be easier/better for me to start with?

#### My current level

I have solid basic Haskell knowledge: [study repo](https://github.com/Anton-Latukha/Haskell-Programming-From-First-Principles) (there are literally all exercises from the chapters, done and commented by myself), and

[2019-04-12 10:24] Anton-Latukha commented on #309
Oh, about Nix.
I once wrote new Nix installer (https://github.com/NixOS/nix/pull/1565), that is despite all my efforts is not merged still.
And I am a temperate contributor and maintainer of a couple of packages in NixPkgs: https://github.com/NixOS/nixpkgs/pull/59293.
And also worked as Nix/NixOS/NixOps/Hydra DevOps.
So for Nix language, and processes/terms I also have some understanding, that wou

[2019-04-17 06:13] domenkozar commented on #494
Depends on #480

[2019-04-17 06:13] #493 closed, assigned to nobody

[2019-04-19 00:49] jwiegley commented on #494
Just released hnix 0.6.1, let me know if this improves matters.

[2019-04-19 21:52] jwiegley opened #497 "Need better error messages when -v3 is used with a command-line argument"
[code]

[2019-04-20 02:41] domenkozar commented on #480
0.6.1 is out

[2019-04-20 02:41] #480 closed, assigned to nobody

[2019-04-21 21:18] flokli commented on #494
[code]

From a quick glimpse:

`hashing` should probably be replaced by `cryptonite`.

[2019-04-22 18:47] toraritte commented on #496
Info for anyone coming here after `nix-build` fails with
`error: build of '/nix/store/(...)-cabal2nix-hnix.drv' failed`:
in my case, I didn't clone recursively with
`git clone --recursive https://github.com/haskell-nix/hnix.git`

[2019-05-05 17:57] jmackie commented on #328
Not sure what the status of this is, but I would really appreciate the expression types and parser living in a separate (lightweight) package. There have been a few occasions when I've needed only these things, but couldn't justify pulling in the entirety of `hnix` in order to get them. :+1:

[2019-05-13 14:33] jwiegley commented on #328
At this point, I think things are mature enough to consider this split.

@jmackie When you say the expression types, do you mean just the types and not the evaluator or the implementation of builtins?

[2019-05-14 04:29] hamishmack commented on #52
What it the state of Nix.TH?  I am having trouble using it.  The error I keep getting is:

[code]

[2019-05-14 20:06] jwiegley commented on #52
Sounds like a bug that will need further examination.

[2019-06-15 18:48] lheckemann opened #505 "REPL exits if you try to type a syntax error"
[code]

[2019-06-15 20:00] helinko opened #507 "Test for parsing nixpkgs fails"
[code]

No idea why they've added an empty file. Should the test actually fail for this?

[2019-06-15 20:47] jwiegley commented on #424
@mightybyte Hi Doug, can you elaborate on this issue further? Since it's marked "Good First Issue", it should contain information for anyone to get started quickly, and to know when they've done enough to consider it finished. Thanks!

[2019-06-19 09:15] domenkozar opened #508 "Use nix-tree-sitter for the parser"
Currently, parser performance is a big bottleneck, I suggest using https://github.com/cstrahan/tree-sitter-nix (look at [canonix](https://github.com/hercules-ci/canonix/) how to wire it up).

As @ryantrinkle wants to have GHCJS support I suggest tree-sitter is default parser, but megaparsec is used when GHCJSing.

[2019-06-19 20:40] Ericson2314 commented on #508
Interesting. I would love to teach `happy` those tricks so we can have our all-haskell GHCJS-supporting cake and savor it nice and incrementally too.